flows.json
[
    {
        "id": "4c3e5ac1458c0e57",
        "type": "tab",
        "label": "Database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b889a82bab4ead6",
        "type": "tab",
        "label": "Environment Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe233ff436b4d8c7",
        "type": "tab",
        "label": "Data Ingest",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "239da397959ae042",
        "type": "tab",
        "label": "Dashboard Worker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "055a1f062782b51d",
        "type": "tab",
        "label": "Config",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f371f3a7a1cb790b",
        "type": "group",
        "z": "239da397959ae042",
        "name": "UI Spacing",
        "style": {
            "label": true
        },
        "nodes": [
            "887f6281d40530d4",
            "c977b9c9480cf3f7",
            "f9b01ce89453eb2f",
            "56c9d1aa2897b4af",
            "4f70bab403d3e99d",
            "fd07e2fefacc51e4",
            "2bba73136001ceac",
            "311c9abdc9a1a48a",
            "b6bcc85da888c456",
            "06af993441bc7d84",
            "89fda60f0696d3e5",
            "4c90233eabbcbec5"
        ],
        "x": -26,
        "y": 759
    },
    {
        "id": "191d11291a88de5f",
        "type": "group",
        "z": "239da397959ae042",
        "name": "Setting and Removing Tara Values",
        "style": {
            "label": true
        },
        "nodes": [
            "a1cc4c5d10b2f8d7",
            "35ecb68d5c7626f6",
            "1a54ca6ee1eab14d",
            "0599be6e5bef4cec",
            "14bf901d53876eeb",
            "42a71ff6d702bc68",
            "e18ad100d77217ce",
            "1365775a1fdf2186",
            "563fc7d9f817c669",
            "6d4928bc579284a9",
            "54e651eca269bf42",
            "8d5e5753d7e0f255",
            "3368ede3c581baad",
            "23d599b78a200727",
            "4ed240070479ab26"
        ],
        "x": -26,
        "y": 459
    },
    {
        "id": "4782014c59a1fc17",
        "type": "group",
        "z": "239da397959ae042",
        "name": "Initialsisation for Tara",
        "style": {
            "label": true
        },
        "nodes": [
            "0e5dbb12f9e794f9",
            "c9cc6dc41f18932c",
            "53cf2b326c916f1b",
            "f9377c2829bfd504",
            "21f6cfba3a1623f7",
            "8d3c9719a67f5aef"
        ],
        "x": 14,
        "y": 19
    },
    {
        "id": "c267a2c65f9672c6",
        "type": "group",
        "z": "fe233ff436b4d8c7",
        "name": "Data Generation",
        "style": {
            "label": true
        },
        "nodes": [
            "7b584dba0f5faffe",
            "421e599f4463cf81",
            "7eaf236f2fd596b6",
            "fde122cabc42ab00",
            "7cee263b3a193189",
            "ebcbe221c3431249"
        ],
        "x": 34,
        "y": 379,
        "w": 1032,
        "h": 142
    },
    {
        "id": "c4d565d6dc37a9a9",
        "type": "group",
        "z": "239da397959ae042",
        "name": "Live Data",
        "style": {
            "label": true
        },
        "nodes": [
            "6ff6b159f4eb418a",
            "e077a5732aef02e3",
            "cb7afa64cc116d3f",
            "861a06f5e0e080fa",
            "de3070bc03fe8636",
            "6464a63cdf0e4934",
            "fb7ed64a28e9d9bd",
            "07508d46a3716912",
            "0add7a7bfa64c05f",
            "068451e5f110a5dc"
        ],
        "x": 14,
        "y": 159
    },
    {
        "id": "c4cffb880254a966",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "admin",
        "passwordFieldType": "str"
    },
    {
        "id": "b87c53319baccdeb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b890a170fb975001",
        "type": "ui_tab",
        "name": "Worker",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e8a0e2a14399f07",
        "type": "ui_group",
        "name": "Standard",
        "tab": "b890a170fb975001",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe2aa5f270d5ee3c",
        "type": "millimar-device-config",
        "device": "Mahr N 1701 USB"
    },
    {
        "id": "e9a8a374e1e65ca3",
        "type": "debug",
        "z": "4c3e5ac1458c0e57",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "f2118aa4411f3a11",
        "type": "inject",
        "z": "4c3e5ac1458c0e57",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FUUU",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "664f26ac9614cb01"
            ]
        ]
    },
    {
        "id": "f7c003b55423326f",
        "type": "inject",
        "z": "4c3e5ac1458c0e57",
        "name": "",
        "props": [
            {
                "p": "tick",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "664f26ac9614cb01"
            ]
        ]
    },
    {
        "id": "664f26ac9614cb01",
        "type": "postgresql",
        "z": "4c3e5ac1458c0e57",
        "name": "",
        "query": "SELECT * FROM testtable;",
        "postgreSQLConfig": "c4cffb880254a966",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "e9a8a374e1e65ca3"
            ]
        ]
    },
    {
        "id": "bf9be0cc96498def",
        "type": "http request",
        "z": "8b889a82bab4ead6",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.255.152//xml/json.php?mode=all&simple",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "30db0488fdf37a9e"
            ]
        ]
    },
    {
        "id": "2ae4c4c1597be50d",
        "type": "inject",
        "z": "8b889a82bab4ead6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "bf9be0cc96498def"
            ]
        ]
    },
    {
        "id": "38adb7f21e95e78f",
        "type": "switch",
        "z": "8b889a82bab4ead6",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "104",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "105",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "106",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "b4c2a83e31f492b9"
            ],
            [
                "6b1140d328904073"
            ],
            [
                "c37571242c900c8c"
            ],
            [
                "6a014f135a3e4926"
            ]
        ]
    },
    {
        "id": "b4c2a83e31f492b9",
        "type": "debug",
        "z": "8b889a82bab4ead6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "6b1140d328904073",
        "type": "debug",
        "z": "8b889a82bab4ead6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "c37571242c900c8c",
        "type": "debug",
        "z": "8b889a82bab4ead6",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "6a014f135a3e4926",
        "type": "debug",
        "z": "8b889a82bab4ead6",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "30db0488fdf37a9e",
        "type": "split",
        "z": "8b889a82bab4ead6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "38adb7f21e95e78f"
            ]
        ]
    },
    {
        "id": "6da455b1ee388cb2",
        "type": "millimar input",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "device": "fe2aa5f270d5ee3c",
        "updateIntervalMs": "1000",
        "channelPicker": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "299ab7b0cb07f4b7",
                "0743923628859218"
            ]
        ]
    },
    {
        "id": "59f28c517f94621f",
        "type": "inject",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "6da455b1ee388cb2"
            ]
        ]
    },
    {
        "id": "299ab7b0cb07f4b7",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "name": "Millimar Data Output",
        "mode": "link",
        "links": [
            "068451e5f110a5dc"
        ],
        "x": 265,
        "y": 60,
        "wires": []
    },
    {
        "id": "0743923628859218",
        "type": "split",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "c9abca5051440f06"
            ]
        ]
    },
    {
        "id": "d3c6339c9638e065",
        "type": "switch",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "property": "payload.ChannelIdx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "85576bc17fc770f9"
            ],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "8a062e794e7331e0",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "name": "Channel 1",
        "mode": "link",
        "links": [
            "2ff7d1587afc2317"
        ],
        "x": 1005,
        "y": 180,
        "wires": []
    },
    {
        "id": "3568957eeb3159d0",
        "type": "rbe",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 970,
        "y": 100,
        "wires": [
            [
                "8a062e794e7331e0"
            ]
        ]
    },
    {
        "id": "2ff7d1587afc2317",
        "type": "link in",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "links": [
            "8a062e794e7331e0"
        ],
        "x": 65,
        "y": 640,
        "wires": [
            [
                "0165079cf8acb1c7"
            ]
        ]
    },
    {
        "id": "96a65acb3f480bde",
        "type": "debug",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{\"min\": min, \"max\": max, \"length\":length, \"avg\":avg}\t",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 640,
        "wires": []
    },
    {
        "id": "0165079cf8acb1c7",
        "type": "join",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "1ecf86fc28b14589"
            ]
        ]
    },
    {
        "id": "fc17c993611d66a8",
        "type": "change",
        "z": "fe233ff436b4d8c7",
        "name": "Calculation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.avg-msg.min",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 700,
        "wires": [
            [
                "66ac11da686f74ef"
            ]
        ]
    },
    {
        "id": "66ac11da686f74ef",
        "type": "debug",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 700,
        "wires": []
    },
    {
        "id": "7b584dba0f5faffe",
        "type": "inject",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "7cee263b3a193189"
            ]
        ]
    },
    {
        "id": "421e599f4463cf81",
        "type": "delay",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "Zufällige Verzögerung",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "200",
        "randomLast": "500",
        "randomUnits": "milliseconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 420,
        "wires": [
            [
                "fde122cabc42ab00",
                "ebcbe221c3431249"
            ]
        ]
    },
    {
        "id": "7eaf236f2fd596b6",
        "type": "split",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "421e599f4463cf81"
            ]
        ]
    },
    {
        "id": "fde122cabc42ab00",
        "type": "debug",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "7cee263b3a193189",
        "type": "function",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "Create Random Array",
        "func": "// Generate a random length between 1 and 10\nvar minLength = 10;\nvar maxLength = 30;\nvar randomLength = Math.floor(Math.random() * (maxLength - minLength + 1)) + minLength;\n// Create an array of random length\nvar randomArray  = new Array(randomLength);\n// Fill the array with random float values\nfor (var i = 0; i < randomArray.length; i++) {\n  randomArray[i] = Math.random()+30;\n}\nmsg.payload = randomArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "7eaf236f2fd596b6"
            ]
        ]
    },
    {
        "id": "ebcbe221c3431249",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "Data Generation",
        "mode": "link",
        "links": [],
        "x": 945,
        "y": 420,
        "wires": []
    },
    {
        "id": "c9abca5051440f06",
        "type": "change",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "parts",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "d3c6339c9638e065"
            ]
        ]
    },
    {
        "id": "85576bc17fc770f9",
        "type": "calculator",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "inputMsgField": "payload.dValue",
        "outputMsgField": "payload",
        "operation": "rdec",
        "constant": "3",
        "round": false,
        "decimals": 0,
        "x": 760,
        "y": 120,
        "wires": [
            [
                "3568957eeb3159d0"
            ]
        ]
    },
    {
        "id": "1ecf86fc28b14589",
        "type": "calculator",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "max",
        "operation": "max",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 300,
        "y": 640,
        "wires": [
            [
                "5a4a8a1059dea756"
            ]
        ]
    },
    {
        "id": "5a4a8a1059dea756",
        "type": "calculator",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "min",
        "operation": "min",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 440,
        "y": 640,
        "wires": [
            [
                "2f5ae32c241db25c"
            ]
        ]
    },
    {
        "id": "2f5ae32c241db25c",
        "type": "calculator",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "length",
        "operation": "len",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 600,
        "y": 640,
        "wires": [
            [
                "022d0485fdf0448b"
            ]
        ]
    },
    {
        "id": "022d0485fdf0448b",
        "type": "calculator",
        "z": "fe233ff436b4d8c7",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "avg",
        "operation": "avg",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 760,
        "y": 640,
        "wires": [
            [
                "96a65acb3f480bde",
                "fc17c993611d66a8"
            ]
        ]
    },
    {
        "id": "9cae4f96f1c873e2",
        "type": "comment",
        "z": "fe233ff436b4d8c7",
        "name": "Ich bin ein schlaues Kommentar",
        "info": "",
        "x": 250,
        "y": 820,
        "wires": []
    },
    {
        "id": "73e8939d7bcb76ce",
        "type": "comment",
        "z": "fe233ff436b4d8c7",
        "name": "Ich bin ein schlaues Kommentar",
        "info": "",
        "x": 270,
        "y": 900,
        "wires": []
    },
    {
        "id": "c90be29bfbb75b5a",
        "type": "comment",
        "z": "fe233ff436b4d8c7",
        "name": "Ich bin ein schlaues Kommentar",
        "info": "",
        "x": 630,
        "y": 840,
        "wires": []
    },
    {
        "id": "0e5dbb12f9e794f9",
        "type": "switch",
        "z": "239da397959ae042",
        "g": "4782014c59a1fc17",
        "name": "",
        "property": "initTara",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "21f6cfba3a1623f7"
            ]
        ]
    },
    {
        "id": "c9cc6dc41f18932c",
        "type": "change",
        "z": "239da397959ae042",
        "g": "4782014c59a1fc17",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "initTara",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "53cf2b326c916f1b",
        "type": "inject",
        "z": "239da397959ae042",
        "g": "4782014c59a1fc17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "f9377c2829bfd504"
            ]
        ]
    },
    {
        "id": "f9377c2829bfd504",
        "type": "change",
        "z": "239da397959ae042",
        "g": "4782014c59a1fc17",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "initTara",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "21f6cfba3a1623f7",
        "type": "change",
        "z": "239da397959ae042",
        "g": "4782014c59a1fc17",
        "name": "Init Tara",
        "rules": [
            {
                "t": "set",
                "p": "Tara[msg.payload.ChannelIdx]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "c9cc6dc41f18932c"
            ]
        ]
    },
    {
        "id": "8d3c9719a67f5aef",
        "type": "change",
        "z": "239da397959ae042",
        "g": "4782014c59a1fc17",
        "name": "Save Measurement",
        "rules": [
            {
                "t": "set",
                "p": "lastValue[msg.payload.ChannelIdx]",
                "pt": "flow",
                "to": "payload.dValue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "0e5dbb12f9e794f9"
            ]
        ]
    },
    {
        "id": "a1cc4c5d10b2f8d7",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Tara[msg.channel]",
                "pt": "flow",
                "to": "lastValue[msg.channel]",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1a54ca6ee1eab14d",
        "type": "switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "a1cc4c5d10b2f8d7"
            ],
            [
                "14bf901d53876eeb"
            ]
        ]
    },
    {
        "id": "0599be6e5bef4cec",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 500,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "14bf901d53876eeb",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Tara[msg.channel]",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "54e651eca269bf42",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 540,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "8d5e5753d7e0f255",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "3368ede3c581baad",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 620,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "23d599b78a200727",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "4ed240070479ab26",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "6",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 700,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "6ff6b159f4eb418a",
        "type": "split",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "8d3c9719a67f5aef",
                "0add7a7bfa64c05f"
            ]
        ]
    },
    {
        "id": "e077a5732aef02e3",
        "type": "switch",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "property": "payload.ChannelIdx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "cb7afa64cc116d3f"
            ],
            [
                "861a06f5e0e080fa"
            ],
            [
                "de3070bc03fe8636"
            ],
            [
                "6464a63cdf0e4934"
            ],
            [
                "fb7ed64a28e9d9bd"
            ],
            [
                "07508d46a3716912"
            ]
        ]
    },
    {
        "id": "0add7a7bfa64c05f",
        "type": "change",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "Tara Calculation",
        "rules": [
            {
                "t": "set",
                "p": "payload.dValue",
                "pt": "msg",
                "to": "payload.dValue - $flowContext('Tara[\"' & payload.ChannelIdx& '\"]')\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "e077a5732aef02e3"
            ]
        ]
    },
    {
        "id": "068451e5f110a5dc",
        "type": "link in",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "link in 1",
        "links": [
            "299ab7b0cb07f4b7"
        ],
        "x": 55,
        "y": 280,
        "wires": [
            [
                "6ff6b159f4eb418a"
            ]
        ]
    },
    {
        "id": "35ecb68d5c7626f6",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 1",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "0599be6e5bef4cec"
            ]
        ]
    },
    {
        "id": "42a71ff6d702bc68",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 2",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "54e651eca269bf42"
            ]
        ]
    },
    {
        "id": "e18ad100d77217ce",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 3",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 12,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "8d5e5753d7e0f255"
            ]
        ]
    },
    {
        "id": "1365775a1fdf2186",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 4",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 15,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "3368ede3c581baad"
            ]
        ]
    },
    {
        "id": "563fc7d9f817c669",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 5",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 20,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "23d599b78a200727"
            ]
        ]
    },
    {
        "id": "6d4928bc579284a9",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 6",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 23,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "4ed240070479ab26"
            ]
        ]
    },
    {
        "id": "cb7afa64cc116d3f",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 1,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 1",
        "label": "mm",
        "format": "{{payload.dValue| number:3}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "861a06f5e0e080fa",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 2,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 2",
        "label": "mm",
        "format": "{{payload.dValue| number:3}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "de3070bc03fe8636",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 9,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 3",
        "label": "mm",
        "format": "{{payload.dValue| number:3}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "6464a63cdf0e4934",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 10,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 4",
        "label": "mm",
        "format": "{{payload.dValue| number:3}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "fb7ed64a28e9d9bd",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 17,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 5",
        "label": "mm",
        "format": "{{payload.dValue| number:3}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "07508d46a3716912",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 18,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "Channel 6",
        "label": "mm",
        "format": "{{payload.dValue| number:3}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "887f6281d40530d4",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 3,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "c977b9c9480cf3f7",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 5,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "f9b01ce89453eb2f",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 6,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "56c9d1aa2897b4af",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 11,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "4f70bab403d3e99d",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 13,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "fd07e2fefacc51e4",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 14,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "2bba73136001ceac",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 19,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "311c9abdc9a1a48a",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 21,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b6bcc85da888c456",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 22,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "06af993441bc7d84",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 8,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "89fda60f0696d3e5",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 16,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "4c90233eabbcbec5",
        "type": "ui_template",
        "z": "239da397959ae042",
        "g": "f371f3a7a1cb790b",
        "group": "8e8a0e2a14399f07",
        "name": "Spacer",
        "order": 24,
        "width": "2",
        "height": "1",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "537d75ec8fa856d8",
        "type": "inject",
        "z": "055a1f062782b51d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Messdemonstrator",
        "payloadType": "str",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "55c760ee9ad24743"
            ]
        ]
    },
    {
        "id": "55c760ee9ad24743",
        "type": "change",
        "z": "055a1f062782b51d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 40,
        "wires": [
            []
        ]
    }
]