flows.json
[
    {
        "id": "4c3e5ac1458c0e57",
        "type": "tab",
        "label": "Database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b889a82bab4ead6",
        "type": "tab",
        "label": "Environment Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe233ff436b4d8c7",
        "type": "tab",
        "label": "Data Ingest",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "843e382393ce9873",
        "type": "tab",
        "label": "Einstellungen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "239da397959ae042",
        "type": "tab",
        "label": "Dashboard Übersicht",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f76015fff1ab449b",
        "type": "tab",
        "label": "Dashboard C1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "055a1f062782b51d",
        "type": "tab",
        "label": "Config",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9516ce2929752e9f",
        "type": "tab",
        "label": "Messprogramm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b6b0fb2c90db26b6",
        "type": "tab",
        "label": "Startseite",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "191d11291a88de5f",
        "type": "group",
        "z": "239da397959ae042",
        "name": "Setting and Removing Tara Values",
        "style": {
            "label": true
        },
        "nodes": [
            "a1cc4c5d10b2f8d7",
            "35ecb68d5c7626f6",
            "1a54ca6ee1eab14d",
            "0599be6e5bef4cec",
            "14bf901d53876eeb",
            "42a71ff6d702bc68",
            "e18ad100d77217ce",
            "1365775a1fdf2186",
            "563fc7d9f817c669",
            "54e651eca269bf42",
            "8d5e5753d7e0f255",
            "3368ede3c581baad",
            "23d599b78a200727",
            "4ed240070479ab26",
            "f2bf18d2ab9c4b8b",
            "3aa58f2b6f8367f9",
            "141f8ee6b1156445"
        ],
        "x": 14,
        "y": 359
    },
    {
        "id": "c267a2c65f9672c6",
        "type": "group",
        "z": "fe233ff436b4d8c7",
        "name": "Data Generation",
        "style": {
            "label": true
        },
        "nodes": [
            "7b584dba0f5faffe",
            "421e599f4463cf81",
            "7eaf236f2fd596b6",
            "fde122cabc42ab00",
            "7cee263b3a193189",
            "ebcbe221c3431249"
        ],
        "x": 14,
        "y": 559
    },
    {
        "id": "3db353d6ca535ffc",
        "type": "group",
        "z": "f76015fff1ab449b",
        "name": "Channel 1 Start/Stop Measurement Logic",
        "style": {
            "label": true
        },
        "nodes": [
            "384f672b7f59aaae",
            "86a2b1f5d365cc3b",
            "93d13444c85540f2",
            "efa429021e13e670",
            "c69fbea30e7e962c",
            "73bd97ce42998d53",
            "fb5dfa943294e7a2",
            "117655354f300291",
            "d9111c50fe35a026",
            "0e48aac0cc361391"
        ],
        "x": 54,
        "y": 159
    },
    {
        "id": "8e9639dd6a52feb3",
        "type": "group",
        "z": "f76015fff1ab449b",
        "name": "Channel 1 Measurement Data Flow",
        "style": {
            "label": true
        },
        "nodes": [
            "ad951cef22b6175f",
            "2ff7d1587afc2317",
            "d2bd2a8b4590ca12",
            "0165079cf8acb1c7",
            "4e03a37c584c3626",
            "99f9f61df6ab0e67",
            "961c22119f4c0397",
            "6fa6b79b483dc10a",
            "d6bbe69e060b5047",
            "bfa4ef96.0901f",
            "5f538462ac099755",
            "ab0ab7c7db7e4c46"
        ],
        "x": 54,
        "y": 486
    },
    {
        "id": "c4d565d6dc37a9a9",
        "type": "group",
        "z": "fe233ff436b4d8c7",
        "name": "Live Data",
        "style": {
            "label": true
        },
        "nodes": [
            "6ff6b159f4eb418a",
            "e077a5732aef02e3",
            "e147caf0cd14a036",
            "edf83709d047c606",
            "8b9d2116be6fd249",
            "6321d24fa98c223e",
            "23b507a676fbdd76",
            "bfe969b5abf36ae9",
            "62fbbd098a50bea2",
            "7aa723e4dc5e5a8c",
            "6c53f538b84293ec",
            "64267778f95f942c",
            "ba7a7c88bbe56428",
            "8f13a6ec18871833",
            "83d4cf8d174ea79d",
            "60aac990440ed53b",
            "68faedd18f2cbfb7",
            "6da455b1ee388cb2",
            "4782014c59a1fc17",
            "0add7a7bfa64c05f"
        ],
        "x": 14,
        "y": 34
    },
    {
        "id": "fa8d67f658e81534",
        "type": "group",
        "z": "239da397959ae042",
        "name": "Gauge Elements",
        "style": {
            "label": true
        },
        "nodes": [
            "cb7afa64cc116d3f",
            "861a06f5e0e080fa",
            "de3070bc03fe8636",
            "6464a63cdf0e4934",
            "fb7ed64a28e9d9bd",
            "07508d46a3716912",
            "98873490e339f652",
            "2faa106ada272312",
            "7047e0ddec4200e5",
            "7961dcdc3d64dbf2",
            "fe809c0e0031e5d9",
            "f81d2b1e8fb96cae"
        ],
        "x": 34,
        "y": 39
    },
    {
        "id": "d012a80f9e9ec332",
        "type": "group",
        "z": "843e382393ce9873",
        "name": "Select and Deselect Logic",
        "style": {
            "label": true
        },
        "nodes": [
            "43febc95e9b10677",
            "e8a89d98fbde2695",
            "bbb865b67a4031dc",
            "e22ea1258be2f3fb",
            "a6844f51d326e206",
            "8bd6cd95a84f33fe"
        ],
        "x": 74,
        "y": 239
    },
    {
        "id": "9c8de91cb8590929",
        "type": "group",
        "z": "843e382393ce9873",
        "name": "Add Button",
        "style": {
            "label": true
        },
        "nodes": [
            "f63836773607c117",
            "9c6303c4c57c890b",
            "a9ef6c5aca9e1dd1",
            "1341a46167881102"
        ],
        "x": 1374,
        "y": 259
    },
    {
        "id": "a9655fa29a17dc9f",
        "type": "group",
        "z": "843e382393ce9873",
        "name": "Delete Button",
        "style": {
            "label": true
        },
        "nodes": [
            "80a7117cac334d87",
            "299004ab39e669c9",
            "f8e83d2b4ceaa493"
        ],
        "x": 1374,
        "y": 379
    },
    {
        "id": "29fe29895bc273be",
        "type": "group",
        "z": "843e382393ce9873",
        "name": "Save Button in Form",
        "style": {
            "label": true
        },
        "nodes": [
            "8a56b94b86d3ca96",
            "a38913ba1ac7d1dd",
            "42f72c23e792c861",
            "f035e10af4f9378f"
        ],
        "x": 1374,
        "y": 119
    },
    {
        "id": "ad1cd725c146137b",
        "type": "group",
        "z": "843e382393ce9873",
        "name": "Form Logic",
        "style": {
            "label": true
        },
        "nodes": [
            "99611047332d42f0",
            "9e8d456299a22421",
            "7c9110228612734e",
            "df895ae8c3c14c2a",
            "4315eba9c6492985",
            "d676248d9fae3a1b",
            "e79cb8ebea408e48",
            "78722288da1f66e8",
            "f6ae1f8861dc5712"
        ],
        "x": 724,
        "y": 39
    },
    {
        "id": "845f4268e3199e1d",
        "type": "group",
        "z": "f76015fff1ab449b",
        "name": "Channel 1 Calculation",
        "style": {
            "label": true
        },
        "nodes": [
            "1ecf86fc28b14589",
            "5a4a8a1059dea756",
            "2f5ae32c241db25c",
            "022d0485fdf0448b",
            "96a65acb3f480bde",
            "fc17c993611d66a8",
            "1417102d265e83e5",
            "0bc7f6e47886b686",
            "eaa90a3437d84708",
            "1a3b8df5ab5514dc",
            "9767ae7be4407276",
            "e8beecd43126c417"
        ],
        "x": 44,
        "y": 759
    },
    {
        "id": "986a61aab651f4f0",
        "type": "group",
        "z": "f76015fff1ab449b",
        "name": "Init manual tara",
        "style": {
            "label": true
        },
        "nodes": [
            "36e091847d6fe47a",
            "81bcf5f3a9a06c5a",
            "a4eeca75cb962bfe",
            "bca680df5f2250f6"
        ],
        "x": 34,
        "y": 19
    },
    {
        "id": "fb5dfa943294e7a2",
        "type": "group",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3a123b1d2a2ea28d",
            "a99feee76da088f8",
            "f9eafdbe8ae23397",
            "6c0ba9e1b80d2e1c"
        ],
        "x": 574,
        "y": 239
    },
    {
        "id": "4782014c59a1fc17",
        "type": "group",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "Initialsisation for Tara",
        "style": {
            "label": true
        },
        "nodes": [
            "0e5dbb12f9e794f9",
            "c9cc6dc41f18932c",
            "53cf2b326c916f1b",
            "f9377c2829bfd504",
            "21f6cfba3a1623f7",
            "8d3c9719a67f5aef"
        ],
        "x": 334,
        "y": 79
    },
    {
        "id": "8b9d2116be6fd249",
        "type": "junction",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "x": 1260,
        "y": 60,
        "wires": [
            [
                "edf83709d047c606"
            ]
        ]
    },
    {
        "id": "6321d24fa98c223e",
        "type": "junction",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "x": 1260,
        "y": 320,
        "wires": [
            [
                "62fbbd098a50bea2"
            ]
        ]
    },
    {
        "id": "64267778f95f942c",
        "type": "junction",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "x": 1260,
        "y": 140,
        "wires": [
            [
                "23b507a676fbdd76"
            ]
        ]
    },
    {
        "id": "ba7a7c88bbe56428",
        "type": "junction",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "x": 1260,
        "y": 240,
        "wires": [
            [
                "bfe969b5abf36ae9"
            ]
        ]
    },
    {
        "id": "8f13a6ec18871833",
        "type": "junction",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "x": 1260,
        "y": 400,
        "wires": [
            [
                "7aa723e4dc5e5a8c"
            ]
        ]
    },
    {
        "id": "83d4cf8d174ea79d",
        "type": "junction",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "x": 1260,
        "y": 480,
        "wires": [
            [
                "6c53f538b84293ec"
            ]
        ]
    },
    {
        "id": "c4cffb880254a966",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "qa_measurements",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "qa_measurements",
        "userFieldType": "str",
        "password": "qa_measurements",
        "passwordFieldType": "str"
    },
    {
        "id": "b87c53319baccdeb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 46,
                "sy": 46,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b890a170fb975001",
        "type": "ui_tab",
        "name": "Datenbank Visualisierung",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8e8a0e2a14399f07",
        "type": "ui_group",
        "name": "Standard",
        "tab": "9d86f616e71bcf60",
        "order": 1,
        "disp": false,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe2aa5f270d5ee3c",
        "type": "millimar-device-config",
        "device": "Mahr N 1701 USB"
    },
    {
        "id": "0dda1d45e28b450a",
        "type": "ui_tab",
        "name": "Channel 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5e2c3bf3d5a99b2",
        "type": "ui_group",
        "name": "Default",
        "tab": "450ac4c9b5c2acc6",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "450ac4c9b5c2acc6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 4,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "9d86f616e71bcf60",
        "type": "ui_tab",
        "name": "Messdaten Übersicht",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6219fc8790234a1e",
        "type": "ui_group",
        "name": "Standard",
        "tab": "b890a170fb975001",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e62f4502f355de8",
        "type": "ui_spacer",
        "z": "239da397959ae042",
        "name": "spacer",
        "group": "8e8a0e2a14399f07",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "17dfec068436d2aa",
        "type": "ui_spacer",
        "z": "239da397959ae042",
        "name": "spacer",
        "group": "8e8a0e2a14399f07",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "7b77027077383e02",
        "type": "ui_spacer",
        "z": "239da397959ae042",
        "name": "spacer",
        "group": "8e8a0e2a14399f07",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "05f81bdeff058732",
        "type": "ui_spacer",
        "z": "239da397959ae042",
        "name": "spacer",
        "group": "8e8a0e2a14399f07",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "32a12e79c8da876e",
        "type": "ui_spacer",
        "z": "239da397959ae042",
        "name": "spacer",
        "group": "8e8a0e2a14399f07",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "f08f4e4be6b368ad",
        "type": "ui_spacer",
        "z": "239da397959ae042",
        "name": "spacer",
        "group": "8e8a0e2a14399f07",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "beb8dd88c7460a47",
        "type": "ui_spacer",
        "z": "239da397959ae042",
        "name": "spacer",
        "group": "8e8a0e2a14399f07",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "573c90349ae5be5f",
        "type": "ui_spacer",
        "z": "239da397959ae042",
        "name": "spacer",
        "group": "8e8a0e2a14399f07",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "6f4767ced2e802f1",
        "type": "ui_group",
        "name": "Interaction",
        "tab": "0dda1d45e28b450a",
        "order": 4,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "814f49e501875186",
        "type": "ui_group",
        "name": "Measuring Devices",
        "tab": "0dda1d45e28b450a",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21e0fd7e8b2db22d",
        "type": "ui_tab",
        "name": "Einstellungen",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2273a1a7d66cb3a0",
        "type": "ui_group",
        "name": "Left",
        "tab": "21e0fd7e8b2db22d",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "49282664ba5106a3",
        "type": "ui_group",
        "name": "Right",
        "tab": "21e0fd7e8b2db22d",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "41e0c9f618b71610",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "cb5849201ca149f9",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bf9d4f551c45f5e",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "17bd4ecfe4a6c366",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3868417c904d138",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "323d63b63f8fa451",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb5849201ca149f9",
        "type": "ui_tab",
        "name": "1",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "17bd4ecfe4a6c366",
        "type": "ui_tab",
        "name": "2",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "323d63b63f8fa451",
        "type": "ui_tab",
        "name": "3",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "abca9e6f17c905d5",
        "type": "ui_spacer",
        "z": "f76015fff1ab449b",
        "name": "spacer",
        "group": "814f49e501875186",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "a7dd89d8fca17e55",
        "type": "ui_spacer",
        "z": "f76015fff1ab449b",
        "name": "spacer",
        "group": "814f49e501875186",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "c27e1f4fed5563b6",
        "type": "ui_spacer",
        "z": "f76015fff1ab449b",
        "name": "spacer",
        "group": "814f49e501875186",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "ab76c61ba28dd4dd",
        "type": "ui_spacer",
        "z": "f76015fff1ab449b",
        "name": "spacer",
        "group": "6f4767ced2e802f1",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2887ccedfec90381",
        "type": "ui_spacer",
        "z": "f76015fff1ab449b",
        "name": "spacer",
        "group": "6f4767ced2e802f1",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "5fe4d171cac663bd",
        "type": "ui_spacer",
        "z": "f76015fff1ab449b",
        "name": "spacer",
        "group": "6f4767ced2e802f1",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "9e4e645ed2901136",
        "type": "ui_spacer",
        "z": "9516ce2929752e9f",
        "name": "spacer",
        "group": "49282664ba5106a3",
        "order": 2,
        "width": "12",
        "height": "4"
    },
    {
        "id": "e9a8a374e1e65ca3",
        "type": "debug",
        "z": "4c3e5ac1458c0e57",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "f2118aa4411f3a11",
        "type": "inject",
        "z": "4c3e5ac1458c0e57",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "aaa",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "664f26ac9614cb01"
            ]
        ]
    },
    {
        "id": "f7c003b55423326f",
        "type": "inject",
        "z": "4c3e5ac1458c0e57",
        "name": "",
        "props": [
            {
                "p": "tick",
                "v": "true",
                "vt": "bool"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "664f26ac9614cb01"
            ]
        ]
    },
    {
        "id": "664f26ac9614cb01",
        "type": "postgresql",
        "z": "4c3e5ac1458c0e57",
        "name": "",
        "query": "SELECT * FROM qa_demonstrator\nORDER BY datetime DESC\nLIMIT 5;",
        "postgreSQLConfig": "c4cffb880254a966",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "e9a8a374e1e65ca3",
                "dfd4a9ea0fdefa61"
            ]
        ]
    },
    {
        "id": "dfd4a9ea0fdefa61",
        "type": "ui_table",
        "z": "4c3e5ac1458c0e57",
        "group": "6219fc8790234a1e",
        "name": "Data",
        "order": 24,
        "width": "18",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf9be0cc96498def",
        "type": "http request",
        "z": "8b889a82bab4ead6",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.255.211//xml/json.php?mode=all&simple",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "30db0488fdf37a9e"
            ]
        ]
    },
    {
        "id": "2ae4c4c1597be50d",
        "type": "inject",
        "z": "8b889a82bab4ead6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "bf9be0cc96498def"
            ]
        ]
    },
    {
        "id": "38adb7f21e95e78f",
        "type": "switch",
        "z": "8b889a82bab4ead6",
        "name": "",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "104",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "105",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "106",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "b4c2a83e31f492b9"
            ],
            [
                "6b1140d328904073"
            ],
            [
                "c37571242c900c8c"
            ],
            [
                "6a014f135a3e4926"
            ]
        ]
    },
    {
        "id": "b4c2a83e31f492b9",
        "type": "debug",
        "z": "8b889a82bab4ead6",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "6b1140d328904073",
        "type": "debug",
        "z": "8b889a82bab4ead6",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "c37571242c900c8c",
        "type": "debug",
        "z": "8b889a82bab4ead6",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "6a014f135a3e4926",
        "type": "debug",
        "z": "8b889a82bab4ead6",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "30db0488fdf37a9e",
        "type": "split",
        "z": "8b889a82bab4ead6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "38adb7f21e95e78f",
                "533fd12cb44cb8a7"
            ]
        ]
    },
    {
        "id": "0729b26782e1c574",
        "type": "ui_chart",
        "z": "8b889a82bab4ead6",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 21,
        "width": 0,
        "height": 0,
        "label": "Temperaturen",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "64cd849113879964",
        "type": "change",
        "z": "8b889a82bab4ead6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "0729b26782e1c574"
            ]
        ]
    },
    {
        "id": "533fd12cb44cb8a7",
        "type": "switch",
        "z": "8b889a82bab4ead6",
        "name": "Filter Internal Sensor",
        "property": "payload.id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "64cd849113879964"
            ]
        ],
        "info": "Filter Internal Sensor"
    },
    {
        "id": "7b584dba0f5faffe",
        "type": "inject",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "7cee263b3a193189"
            ]
        ]
    },
    {
        "id": "421e599f4463cf81",
        "type": "delay",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "Zufällige Verzögerung",
        "pauseType": "random",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "200",
        "randomLast": "500",
        "randomUnits": "milliseconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "fde122cabc42ab00",
                "ebcbe221c3431249"
            ]
        ]
    },
    {
        "id": "7eaf236f2fd596b6",
        "type": "split",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 600,
        "wires": [
            [
                "421e599f4463cf81"
            ]
        ]
    },
    {
        "id": "fde122cabc42ab00",
        "type": "debug",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 660,
        "wires": []
    },
    {
        "id": "7cee263b3a193189",
        "type": "function",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "Create Random Array",
        "func": "// Generate a random length between 1 and 10\nvar minLength = 10;\nvar maxLength = 30;\nvar randomLength = Math.floor(Math.random() * (maxLength - minLength + 1)) + minLength;\n// Create an array of random length\nvar randomArray  = new Array(randomLength);\n// Fill the array with random float values\nfor (var i = 0; i < randomArray.length; i++) {\n  randomArray[i] = Math.random()+30;\n}\nmsg.payload = randomArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 600,
        "wires": [
            [
                "7eaf236f2fd596b6"
            ]
        ]
    },
    {
        "id": "ebcbe221c3431249",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "g": "c267a2c65f9672c6",
        "name": "Data Generation",
        "mode": "link",
        "links": [],
        "x": 925,
        "y": 600,
        "wires": []
    },
    {
        "id": "6ff6b159f4eb418a",
        "type": "split",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "8d3c9719a67f5aef",
                "e147caf0cd14a036"
            ]
        ]
    },
    {
        "id": "e077a5732aef02e3",
        "type": "switch",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1130,
        "y": 280,
        "wires": [
            [
                "8b9d2116be6fd249"
            ],
            [
                "64267778f95f942c"
            ],
            [
                "ba7a7c88bbe56428"
            ],
            [
                "6321d24fa98c223e"
            ],
            [
                "8f13a6ec18871833"
            ],
            [
                "83d4cf8d174ea79d"
            ]
        ]
    },
    {
        "id": "e147caf0cd14a036",
        "type": "change",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.ChannelIdx",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "parts",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "60aac990440ed53b"
            ]
        ]
    },
    {
        "id": "edf83709d047c606",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "Channel 1 Tara",
        "mode": "link",
        "links": [
            "98873490e339f652",
            "2ff7d1587afc2317"
        ],
        "x": 1345,
        "y": 80,
        "wires": []
    },
    {
        "id": "23b507a676fbdd76",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "Channel 2 Tara",
        "mode": "link",
        "links": [
            "2faa106ada272312"
        ],
        "x": 1345,
        "y": 160,
        "wires": []
    },
    {
        "id": "bfe969b5abf36ae9",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "Channel 3 Tara",
        "mode": "link",
        "links": [
            "7047e0ddec4200e5"
        ],
        "x": 1345,
        "y": 240,
        "wires": []
    },
    {
        "id": "62fbbd098a50bea2",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "Channel 4 Tara",
        "mode": "link",
        "links": [
            "7961dcdc3d64dbf2"
        ],
        "x": 1345,
        "y": 320,
        "wires": []
    },
    {
        "id": "7aa723e4dc5e5a8c",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "Channel 5 Tara",
        "mode": "link",
        "links": [
            "fe809c0e0031e5d9"
        ],
        "x": 1345,
        "y": 400,
        "wires": []
    },
    {
        "id": "6c53f538b84293ec",
        "type": "link out",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "Channel 6 Tara",
        "mode": "link",
        "links": [
            "f81d2b1e8fb96cae"
        ],
        "x": 1345,
        "y": 480,
        "wires": []
    },
    {
        "id": "0e5dbb12f9e794f9",
        "type": "switch",
        "z": "fe233ff436b4d8c7",
        "g": "4782014c59a1fc17",
        "name": "",
        "property": "initTara",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "21f6cfba3a1623f7"
            ]
        ]
    },
    {
        "id": "c9cc6dc41f18932c",
        "type": "change",
        "z": "fe233ff436b4d8c7",
        "g": "4782014c59a1fc17",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "initTara",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "53cf2b326c916f1b",
        "type": "inject",
        "z": "fe233ff436b4d8c7",
        "g": "4782014c59a1fc17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "f9377c2829bfd504"
            ]
        ]
    },
    {
        "id": "f9377c2829bfd504",
        "type": "change",
        "z": "fe233ff436b4d8c7",
        "g": "4782014c59a1fc17",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "initTara",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "21f6cfba3a1623f7",
        "type": "change",
        "z": "fe233ff436b4d8c7",
        "g": "4782014c59a1fc17",
        "name": "Init Tara",
        "rules": [
            {
                "t": "set",
                "p": "Tara[msg.payload.ChannelIdx]",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 160,
        "wires": [
            [
                "c9cc6dc41f18932c"
            ]
        ]
    },
    {
        "id": "8d3c9719a67f5aef",
        "type": "change",
        "z": "fe233ff436b4d8c7",
        "g": "4782014c59a1fc17",
        "name": "Save Measurement",
        "rules": [
            {
                "t": "set",
                "p": "lastValue[msg.payload.ChannelIdx]",
                "pt": "global",
                "to": "payload.dValue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "0e5dbb12f9e794f9"
            ]
        ]
    },
    {
        "id": "60aac990440ed53b",
        "type": "calculator",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "inputMsgField": "payload.dValue",
        "outputMsgField": "payload",
        "operation": "rdec",
        "constant": "4",
        "round": false,
        "decimals": 0,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "0add7a7bfa64c05f"
            ]
        ]
    },
    {
        "id": "68faedd18f2cbfb7",
        "type": "rbe",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "e077a5732aef02e3"
            ]
        ]
    },
    {
        "id": "6da455b1ee388cb2",
        "type": "millimar input",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "",
        "device": "fe2aa5f270d5ee3c",
        "updateIntervalMs": "100",
        "channelPicker": "1,2,3,4,5,6",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "6ff6b159f4eb418a"
            ]
        ]
    },
    {
        "id": "0add7a7bfa64c05f",
        "type": "change",
        "z": "fe233ff436b4d8c7",
        "g": "c4d565d6dc37a9a9",
        "name": "Tara Calculation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload- $globalContext('Tara[\"' & topic& '\"]')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 280,
        "wires": [
            [
                "68faedd18f2cbfb7"
            ]
        ]
    },
    {
        "id": "1d669e6545539206",
        "type": "inject",
        "z": "843e382393ce9873",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "7f4ed64953a22c15"
            ]
        ]
    },
    {
        "id": "7f4ed64953a22c15",
        "type": "postgresql",
        "z": "843e382393ce9873",
        "name": "",
        "query": "SELECT * FROM config\nORDER BY id;\n\n",
        "postgreSQLConfig": "c4cffb880254a966",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "45722776e3d6c3cf"
            ]
        ]
    },
    {
        "id": "45722776e3d6c3cf",
        "type": "ui_table",
        "z": "843e382393ce9873",
        "group": "2273a1a7d66cb3a0",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "12",
        "columns": [
            {
                "field": "name",
                "title": "Typen",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "7c9110228612734e",
                "99611047332d42f0",
                "e8a89d98fbde2695",
                "df895ae8c3c14c2a"
            ]
        ]
    },
    {
        "id": "99611047332d42f0",
        "type": "ui_form",
        "z": "843e382393ce9873",
        "g": "ad1cd725c146137b",
        "name": "",
        "label": "",
        "group": "49282664ba5106a3",
        "order": 2,
        "width": "12",
        "height": "8",
        "options": [
            {
                "label": "Nennmaß",
                "value": "nennmass",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Abmaß",
                "value": "abmass",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Abmaßtoleranz",
                "value": "abmasstoleranz",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Rundheitstoleranz",
                "value": "rundheitstoleranz",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "nennmass": "",
            "abmass": "",
            "abmasstoleranz": "",
            "rundheitstoleranz": ""
        },
        "payload": "",
        "submit": "Speichern",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 1110,
        "y": 160,
        "wires": [
            [
                "a38913ba1ac7d1dd",
                "4315eba9c6492985"
            ]
        ]
    },
    {
        "id": "8a56b94b86d3ca96",
        "type": "postgresql",
        "z": "843e382393ce9873",
        "g": "29fe29895bc273be",
        "name": "",
        "query": "UPDATE public.config\n\tSET name='{{{msg.payload.elementname}}}', nennmass={{{msg.payload.nennmass}}}, abmass={{{msg.payload.abmass}}}, abmasstoleranz={{{msg.payload.abmasstoleranz}}}, \"rundheitstoleranz\"={{{msg.payload.rundheitstoleranz}}}\n\tWHERE id={{{msg.currentElementId}}}\nRETURNING *;",
        "postgreSQLConfig": "c4cffb880254a966",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1670,
        "y": 160,
        "wires": [
            [
                "f035e10af4f9378f"
            ]
        ]
    },
    {
        "id": "a38913ba1ac7d1dd",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "29fe29895bc273be",
        "name": "Get Seleted Type",
        "rules": [
            {
                "t": "set",
                "p": "currentElementId",
                "pt": "msg",
                "to": "currentElementId",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.elementname",
                "pt": "msg",
                "to": "ElementName",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 160,
        "wires": [
            [
                "8a56b94b86d3ca96"
            ]
        ]
    },
    {
        "id": "62e80ce16e82b5c3",
        "type": "link in",
        "z": "843e382393ce9873",
        "name": "Refresh Table",
        "links": [
            "42f72c23e792c861",
            "a9ef6c5aca9e1dd1",
            "f8e83d2b4ceaa493",
            "30058c91ae12a293"
        ],
        "x": 165,
        "y": 180,
        "wires": [
            [
                "7f4ed64953a22c15"
            ]
        ]
    },
    {
        "id": "42f72c23e792c861",
        "type": "link out",
        "z": "843e382393ce9873",
        "g": "29fe29895bc273be",
        "name": "Update Finished",
        "mode": "link",
        "links": [
            "62e80ce16e82b5c3",
            "e22ea1258be2f3fb"
        ],
        "x": 2035,
        "y": 160,
        "wires": []
    },
    {
        "id": "9e8d456299a22421",
        "type": "ui_text_input",
        "z": "843e382393ce9873",
        "g": "ad1cd725c146137b",
        "name": "Form Header",
        "label": "",
        "tooltip": "",
        "group": "49282664ba5106a3",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1130,
        "y": 240,
        "wires": [
            [
                "78722288da1f66e8"
            ]
        ]
    },
    {
        "id": "7c9110228612734e",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "ad1cd725c146137b",
        "name": "Write Selected To Form Header",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 240,
        "wires": [
            [
                "9e8d456299a22421"
            ]
        ]
    },
    {
        "id": "df895ae8c3c14c2a",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "ad1cd725c146137b",
        "name": "Set Selected Type",
        "rules": [
            {
                "t": "set",
                "p": "ElementName",
                "pt": "global",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "currentElementId",
                "pt": "global",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 280,
        "wires": [
            [
                "f6ae1f8861dc5712"
            ]
        ]
    },
    {
        "id": "1341a46167881102",
        "type": "ui_button",
        "z": "843e382393ce9873",
        "g": "9c8de91cb8590929",
        "name": "Button Add",
        "group": "2273a1a7d66cb3a0",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "Neues Element",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "note_add",
        "payload": "{\"name\":\"Neu\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1470,
        "y": 300,
        "wires": [
            [
                "9c6303c4c57c890b"
            ]
        ]
    },
    {
        "id": "299004ab39e669c9",
        "type": "ui_button",
        "z": "843e382393ce9873",
        "g": "a9655fa29a17dc9f",
        "name": "Button Delete",
        "group": "2273a1a7d66cb3a0",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "",
        "tooltip": "Löschen des ausgewählten Elements",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "delete_forever",
        "payload": "currentElementId",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 1480,
        "y": 420,
        "wires": [
            [
                "80a7117cac334d87"
            ]
        ]
    },
    {
        "id": "80a7117cac334d87",
        "type": "postgresql",
        "z": "843e382393ce9873",
        "g": "a9655fa29a17dc9f",
        "name": "",
        "query": "DELETE FROM public.config\n\tWHERE id={{{msg.payload}}};",
        "postgreSQLConfig": "c4cffb880254a966",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1670,
        "y": 420,
        "wires": [
            [
                "f8e83d2b4ceaa493"
            ]
        ]
    },
    {
        "id": "9c6303c4c57c890b",
        "type": "postgresql",
        "z": "843e382393ce9873",
        "g": "9c8de91cb8590929",
        "name": "",
        "query": "INSERT INTO public.config(\n name)\n\tVALUES ('Neu')\nRETURNING *;\n",
        "postgreSQLConfig": "c4cffb880254a966",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1670,
        "y": 300,
        "wires": [
            [
                "f63836773607c117"
            ]
        ]
    },
    {
        "id": "43febc95e9b10677",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "d012a80f9e9ec332",
        "name": "Select Clicked Row",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"selectRow\",\"arguments\":[temp]}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "45722776e3d6c3cf"
            ]
        ]
    },
    {
        "id": "e8a89d98fbde2695",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "d012a80f9e9ec332",
        "name": "Deselect Old Row",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"deselectRow\",\"arguments\":[]}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "45722776e3d6c3cf",
                "43febc95e9b10677"
            ]
        ]
    },
    {
        "id": "4315eba9c6492985",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "ad1cd725c146137b",
        "name": "Refresh Form",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 80,
        "wires": [
            [
                "99611047332d42f0"
            ]
        ]
    },
    {
        "id": "d676248d9fae3a1b",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "ad1cd725c146137b",
        "name": "Clear Form",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"\",\"name\":\"\",\"nennmass\":0,\"abmass\":0,\"abmasstoleranz\":0,\"rundheitstoleranz\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 80,
        "wires": [
            [
                "99611047332d42f0"
            ]
        ]
    },
    {
        "id": "f8e83d2b4ceaa493",
        "type": "link out",
        "z": "843e382393ce9873",
        "g": "a9655fa29a17dc9f",
        "name": "Delete Finished",
        "mode": "link",
        "links": [
            "62e80ce16e82b5c3",
            "e79cb8ebea408e48"
        ],
        "x": 1925,
        "y": 420,
        "wires": []
    },
    {
        "id": "e79cb8ebea408e48",
        "type": "link in",
        "z": "843e382393ce9873",
        "g": "ad1cd725c146137b",
        "name": "Reset Form",
        "links": [
            "f8e83d2b4ceaa493"
        ],
        "x": 765,
        "y": 80,
        "wires": [
            [
                "d676248d9fae3a1b"
            ]
        ]
    },
    {
        "id": "a9ef6c5aca9e1dd1",
        "type": "link out",
        "z": "843e382393ce9873",
        "g": "9c8de91cb8590929",
        "name": "Add Finished",
        "mode": "link",
        "links": [
            "62e80ce16e82b5c3",
            "7019eef58c80ac8e",
            "e22ea1258be2f3fb"
        ],
        "x": 2035,
        "y": 300,
        "wires": []
    },
    {
        "id": "f63836773607c117",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "9c8de91cb8590929",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1870,
        "y": 300,
        "wires": [
            [
                "a9ef6c5aca9e1dd1"
            ]
        ]
    },
    {
        "id": "e22ea1258be2f3fb",
        "type": "link in",
        "z": "843e382393ce9873",
        "g": "d012a80f9e9ec332",
        "name": "Select Element",
        "links": [
            "a9ef6c5aca9e1dd1",
            "42f72c23e792c861",
            "c384e7a9f2baf0c6"
        ],
        "x": 115,
        "y": 280,
        "wires": [
            [
                "bbb865b67a4031dc",
                "a6844f51d326e206"
            ]
        ]
    },
    {
        "id": "bbb865b67a4031dc",
        "type": "delay",
        "z": "843e382393ce9873",
        "g": "d012a80f9e9ec332",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "e8a89d98fbde2695"
            ]
        ]
    },
    {
        "id": "a6844f51d326e206",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "d012a80f9e9ec332",
        "name": "Set Selected Type",
        "rules": [
            {
                "t": "set",
                "p": "ElementName",
                "pt": "global",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "currentElementId",
                "pt": "global",
                "to": "payload.id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "8bd6cd95a84f33fe"
            ]
        ]
    },
    {
        "id": "78722288da1f66e8",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "ad1cd725c146137b",
        "name": "Set Name",
        "rules": [
            {
                "t": "set",
                "p": "ElementName",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f035e10af4f9378f",
        "type": "change",
        "z": "843e382393ce9873",
        "g": "29fe29895bc273be",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1870,
        "y": 160,
        "wires": [
            [
                "42f72c23e792c861"
            ]
        ]
    },
    {
        "id": "8bd6cd95a84f33fe",
        "type": "link out",
        "z": "843e382393ce9873",
        "g": "d012a80f9e9ec332",
        "name": "Selected Type",
        "mode": "link",
        "links": [
            "7cfcc73117e72030"
        ],
        "x": 375,
        "y": 320,
        "wires": []
    },
    {
        "id": "f6ae1f8861dc5712",
        "type": "link out",
        "z": "843e382393ce9873",
        "g": "ad1cd725c146137b",
        "name": "Selected Type",
        "mode": "link",
        "links": [
            "7cfcc73117e72030"
        ],
        "x": 1005,
        "y": 280,
        "wires": []
    },
    {
        "id": "a1cc4c5d10b2f8d7",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Tara[msg.channel]",
                "pt": "global",
                "to": "lastValue[msg.channel]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1a54ca6ee1eab14d",
        "type": "switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 540,
        "wires": [
            [
                "a1cc4c5d10b2f8d7"
            ],
            [
                "14bf901d53876eeb"
            ]
        ]
    },
    {
        "id": "0599be6e5bef4cec",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "14bf901d53876eeb",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Tara[msg.channel]",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "54e651eca269bf42",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "8d5e5753d7e0f255",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 520,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "3368ede3c581baad",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "23d599b78a200727",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 600,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "4ed240070479ab26",
        "type": "change",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "6",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "1a54ca6ee1eab14d"
            ]
        ]
    },
    {
        "id": "35ecb68d5c7626f6",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 1",
        "label": "Tara",
        "tooltip": "",
        "group": "6f4767ced2e802f1",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "f2bf18d2ab9c4b8b"
            ]
        ]
    },
    {
        "id": "42a71ff6d702bc68",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 2",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "54e651eca269bf42"
            ]
        ]
    },
    {
        "id": "e18ad100d77217ce",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 3",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "8d5e5753d7e0f255"
            ]
        ]
    },
    {
        "id": "1365775a1fdf2186",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 4",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "3368ede3c581baad"
            ]
        ]
    },
    {
        "id": "563fc7d9f817c669",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 5",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "23d599b78a200727"
            ]
        ]
    },
    {
        "id": "f2bf18d2ab9c4b8b",
        "type": "rbe",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "0599be6e5bef4cec",
                "3aa58f2b6f8367f9",
                "35ecb68d5c7626f6"
            ]
        ]
    },
    {
        "id": "3aa58f2b6f8367f9",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 1",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "f2bf18d2ab9c4b8b"
            ]
        ]
    },
    {
        "id": "141f8ee6b1156445",
        "type": "ui_switch",
        "z": "239da397959ae042",
        "g": "191d11291a88de5f",
        "name": "Tara 6",
        "label": "Tara",
        "tooltip": "",
        "group": "8e8a0e2a14399f07",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "4ed240070479ab26"
            ]
        ]
    },
    {
        "id": "cb7afa64cc116d3f",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Channel 1",
        "label": "mm",
        "format": "{{payload | number:4}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "861a06f5e0e080fa",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Channel 2",
        "label": "mm",
        "format": "{{payload | number:4}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "de3070bc03fe8636",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Channel 3",
        "label": "mm",
        "format": "{{payload | number:4}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "6464a63cdf0e4934",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 11,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Channel 4",
        "label": "mm",
        "format": "{{payload | number:4}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "fb7ed64a28e9d9bd",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 12,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Channel 5",
        "label": "mm",
        "format": "{{payload | number:4}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "07508d46a3716912",
        "type": "ui_gauge",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "",
        "group": "8e8a0e2a14399f07",
        "order": 13,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Channel 6",
        "label": "mm",
        "format": "{{payload | number:4}}",
        "min": "-3",
        "max": "3",
        "colors": [
            "#ff0000",
            "#00b81f",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 280,
        "wires": []
    },
    {
        "id": "98873490e339f652",
        "type": "link in",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "Overview C1 IN",
        "links": [
            "edf83709d047c606"
        ],
        "x": 75,
        "y": 80,
        "wires": [
            [
                "cb7afa64cc116d3f"
            ]
        ]
    },
    {
        "id": "2faa106ada272312",
        "type": "link in",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "Overview C2 IN",
        "links": [
            "23b507a676fbdd76"
        ],
        "x": 75,
        "y": 120,
        "wires": [
            [
                "861a06f5e0e080fa"
            ]
        ]
    },
    {
        "id": "7047e0ddec4200e5",
        "type": "link in",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "Overview C3 IN",
        "links": [
            "bfe969b5abf36ae9"
        ],
        "x": 75,
        "y": 160,
        "wires": [
            [
                "de3070bc03fe8636"
            ]
        ]
    },
    {
        "id": "7961dcdc3d64dbf2",
        "type": "link in",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "Overview C4 IN",
        "links": [
            "62fbbd098a50bea2"
        ],
        "x": 75,
        "y": 200,
        "wires": [
            [
                "6464a63cdf0e4934"
            ]
        ]
    },
    {
        "id": "fe809c0e0031e5d9",
        "type": "link in",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "Overview C5 IN",
        "links": [
            "7aa723e4dc5e5a8c"
        ],
        "x": 75,
        "y": 240,
        "wires": [
            [
                "fb7ed64a28e9d9bd"
            ]
        ]
    },
    {
        "id": "f81d2b1e8fb96cae",
        "type": "link in",
        "z": "239da397959ae042",
        "g": "fa8d67f658e81534",
        "name": "Overview C6 IN",
        "links": [
            "6c53f538b84293ec"
        ],
        "x": 75,
        "y": 280,
        "wires": [
            [
                "07508d46a3716912"
            ]
        ]
    },
    {
        "id": "384f672b7f59aaae",
        "type": "ui_button",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "name": "",
        "group": "6f4767ced2e802f1",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Button1",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "86a2b1f5d365cc3b",
                "0e48aac0cc361391"
            ]
        ]
    },
    {
        "id": "93d13444c85540f2",
        "type": "inject",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "Messung",
        "payloadType": "str",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "384f672b7f59aaae",
                "86a2b1f5d365cc3b"
            ]
        ]
    },
    {
        "id": "efa429021e13e670",
        "type": "change",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "messureGate",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c69fbea30e7e962c",
        "type": "switch",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "name": "",
        "property": "initGate",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "efa429021e13e670"
            ],
            [
                "f9eafdbe8ae23397"
            ]
        ]
    },
    {
        "id": "73bd97ce42998d53",
        "type": "comment",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "name": "Normal Flow",
        "info": "",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "3a123b1d2a2ea28d",
        "type": "change",
        "z": "f76015fff1ab449b",
        "g": "fb5dfa943294e7a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "initGate",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a99feee76da088f8",
        "type": "comment",
        "z": "f76015fff1ab449b",
        "g": "fb5dfa943294e7a2",
        "name": "Init Measuring",
        "info": "",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "f9eafdbe8ae23397",
        "type": "change",
        "z": "f76015fff1ab449b",
        "g": "fb5dfa943294e7a2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "messureGate",
                "pt": "flow",
                "to": "Stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "initGate",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6c0ba9e1b80d2e1c",
        "type": "inject",
        "z": "f76015fff1ab449b",
        "g": "fb5dfa943294e7a2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 320,
        "wires": [
            [
                "3a123b1d2a2ea28d"
            ]
        ]
    },
    {
        "id": "117655354f300291",
        "type": "switch",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Stop",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "d9111c50fe35a026"
            ]
        ]
    },
    {
        "id": "d9111c50fe35a026",
        "type": "change",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "name": "Delete",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 400,
        "wires": [
            [
                "0bc7f6e47886b686"
            ]
        ]
    },
    {
        "id": "ad951cef22b6175f",
        "type": "comment",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "name": "Stopping the measurment",
        "info": "Runs only once per Measuring Cycle",
        "x": 630,
        "y": 600,
        "wires": []
    },
    {
        "id": "2ff7d1587afc2317",
        "type": "link in",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "name": "Channel 1 Measurement",
        "links": [
            "edf83709d047c606"
        ],
        "x": 95,
        "y": 540,
        "wires": [
            [
                "6fa6b79b483dc10a"
            ]
        ]
    },
    {
        "id": "d2bd2a8b4590ca12",
        "type": "switch",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "name": "",
        "property": "messureGate",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "Stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Messung",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "0165079cf8acb1c7"
            ],
            [
                "4e03a37c584c3626"
            ],
            []
        ]
    },
    {
        "id": "0165079cf8acb1c7",
        "type": "join",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1087,
        "y": 527,
        "wires": [
            [
                "961c22119f4c0397"
            ]
        ]
    },
    {
        "id": "4e03a37c584c3626",
        "type": "change",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "messureGate",
                "pt": "flow",
                "to": "Stopped",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 560,
        "wires": [
            [
                "99f9f61df6ab0e67"
            ]
        ]
    },
    {
        "id": "99f9f61df6ab0e67",
        "type": "change",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 560,
        "wires": [
            [
                "0165079cf8acb1c7"
            ]
        ]
    },
    {
        "id": "961c22119f4c0397",
        "type": "link out",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "name": "Channel1 Measurement Values",
        "mode": "link",
        "links": [
            "1417102d265e83e5"
        ],
        "x": 1182,
        "y": 527,
        "wires": []
    },
    {
        "id": "86a2b1f5d365cc3b",
        "type": "toggle",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "name": "",
        "onOffTopic": "",
        "onValue": "Stop",
        "onType": "str",
        "offValue": "Messung",
        "offType": "str",
        "toggleTopic": "",
        "toggleValue": "",
        "toggleType": "any",
        "passOnOff": "always",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "384f672b7f59aaae",
                "c69fbea30e7e962c",
                "117655354f300291"
            ]
        ]
    },
    {
        "id": "36e091847d6fe47a",
        "type": "ui_text_input",
        "z": "f76015fff1ab449b",
        "g": "986a61aab651f4f0",
        "name": "",
        "label": "manueller Vorgabewert",
        "tooltip": "",
        "group": "6f4767ced2e802f1",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "bca680df5f2250f6"
            ]
        ]
    },
    {
        "id": "81bcf5f3a9a06c5a",
        "type": "change",
        "z": "f76015fff1ab449b",
        "g": "986a61aab651f4f0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "manualTara",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6fa6b79b483dc10a",
        "type": "change",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "name": "Tara Calculation",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload + $flowContext('manualTara') ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 540,
        "wires": [
            [
                "d2bd2a8b4590ca12",
                "ab0ab7c7db7e4c46",
                "5f538462ac099755"
            ]
        ]
    },
    {
        "id": "a4eeca75cb962bfe",
        "type": "inject",
        "z": "f76015fff1ab449b",
        "g": "986a61aab651f4f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.0",
        "payloadType": "num",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "36e091847d6fe47a"
            ]
        ]
    },
    {
        "id": "bca680df5f2250f6",
        "type": "switch",
        "z": "f76015fff1ab449b",
        "g": "986a61aab651f4f0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 60,
        "wires": [
            [],
            [
                "81bcf5f3a9a06c5a"
            ]
        ]
    },
    {
        "id": "8b6e67db34a83968",
        "type": "inject",
        "z": "f76015fff1ab449b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 930,
        "y": 1300,
        "wires": [
            [
                "da82ce4793672c6d",
                "4875667208c4bb4f"
            ]
        ]
    },
    {
        "id": "1113691226a338da",
        "type": "inject",
        "z": "f76015fff1ab449b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 930,
        "y": 1360,
        "wires": [
            [
                "da82ce4793672c6d",
                "4875667208c4bb4f"
            ]
        ]
    },
    {
        "id": "393bd8462074aaad",
        "type": "inject",
        "z": "f76015fff1ab449b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 930,
        "y": 1240,
        "wires": [
            [
                "da82ce4793672c6d",
                "4875667208c4bb4f"
            ]
        ]
    },
    {
        "id": "1ecf86fc28b14589",
        "type": "calculator",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "max",
        "operation": "max",
        "constant": "",
        "round": true,
        "decimals": "4",
        "x": 200,
        "y": 880,
        "wires": [
            [
                "5a4a8a1059dea756"
            ]
        ]
    },
    {
        "id": "5a4a8a1059dea756",
        "type": "calculator",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "min",
        "operation": "min",
        "constant": "",
        "round": true,
        "decimals": "4",
        "x": 340,
        "y": 880,
        "wires": [
            [
                "2f5ae32c241db25c"
            ]
        ]
    },
    {
        "id": "2f5ae32c241db25c",
        "type": "calculator",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "length",
        "operation": "len",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 520,
        "y": 880,
        "wires": [
            [
                "022d0485fdf0448b"
            ]
        ]
    },
    {
        "id": "022d0485fdf0448b",
        "type": "calculator",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "avg",
        "operation": "avg",
        "constant": "",
        "round": true,
        "decimals": "4",
        "x": 680,
        "y": 880,
        "wires": [
            [
                "fc17c993611d66a8",
                "e8beecd43126c417",
                "9767ae7be4407276",
                "deb6e4621765778e"
            ]
        ]
    },
    {
        "id": "96a65acb3f480bde",
        "type": "debug",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "{\"min\": min, \"max\": max, \"length\":length, \"avg\":avg, \"data\":payload, \"calc\":calc }\t",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 940,
        "wires": []
    },
    {
        "id": "fc17c993611d66a8",
        "type": "change",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "Calculation",
        "rules": [
            {
                "t": "set",
                "p": "calc",
                "pt": "msg",
                "to": "msg.avg-msg.min",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 880,
        "wires": [
            [
                "96a65acb3f480bde",
                "eaa90a3437d84708"
            ]
        ]
    },
    {
        "id": "1417102d265e83e5",
        "type": "link in",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "Channel 1 Calculation Input",
        "links": [
            "961c22119f4c0397"
        ],
        "x": 85,
        "y": 880,
        "wires": [
            [
                "1ecf86fc28b14589"
            ]
        ]
    },
    {
        "id": "0bc7f6e47886b686",
        "type": "ui_chart",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "Measurement Diagram",
        "group": "814f49e501875186",
        "order": 5,
        "width": 12,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-0.005",
        "ymax": "0.005",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1d7e02",
            "#b0030b",
            "#90fefc",
            "#ffa200",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "eaa90a3437d84708",
        "type": "postgresql",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "",
        "query": "INSERT INTO qa_demonstrator(data, min, max, avg, calc)\n\tVALUES ( array[{{{msg.payload}}}], {{{msg.min}}}, {{{msg.max}}}, {{{msg.avg}}}, {{{msg.calc}}});",
        "postgreSQLConfig": "c4cffb880254a966",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1110,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "1a3b8df5ab5514dc",
        "type": "comment",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "Laufbahnmaß über Kugel + Maßkorrektur, Maximalwert über Messreihe  ",
        "info": "",
        "x": 590,
        "y": 940,
        "wires": []
    },
    {
        "id": "9767ae7be4407276",
        "type": "ui_template",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "group": "814f49e501875186",
        "name": "Result",
        "order": 6,
        "width": 6,
        "height": 2,
        "format": "<div><p class=\"label nr-dashboard-chart-title nr-dashboard-chart-titlel\" >Maximale Abweichung</p></div>\n<div>\n     <center>\n          <b ng-bind-html=\"msg.max\"></b>\n     </center>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e8beecd43126c417",
        "type": "function",
        "z": "f76015fff1ab449b",
        "g": "845f4268e3199e1d",
        "name": "Transform for Chart",
        "func": "\n\n\n\nlet length = msg.length\nmsg.payload = [{\n    \"series\": [\"Minimum\", \"Maximum\", \"Durchschnitt\", \"Messwerte\"],\n    \"data\": [Array(length).fill(msg.min), Array(length).fill(msg.max), Array(length).fill(msg.avg), msg.payload],\n    \"labels\": Array.from({ length: length }, (_, i) => i + 1)\n}]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 840,
        "wires": [
            [
                "0bc7f6e47886b686"
            ]
        ]
    },
    {
        "id": "da82ce4793672c6d",
        "type": "ui_template",
        "z": "f76015fff1ab449b",
        "group": "814f49e501875186",
        "name": "LED right",
        "order": 3,
        "width": 6,
        "height": 6,
        "format": "\n\n\n\n<body>\n    <div class=\"circle-container\">\n        <div class=\"circle\" id=\"myCircleRight\"></div>\n    </div>\n</body>\n\n\n<script>\n    (function(scope) {\n\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n        // Do something when msg arrives\n        const circle = document.getElementById('myCircleRight')\n        switch(msg.payload) {\n            case true:\n                circle.style.backgroundColor = \"green\";\n            break;\n            case false:\n                circle.style.backgroundColor = \"red\";\n            break;\n            default:\n                circle.style.backgroundColor = \"white\";\n        }\n\n    }\n    \n    });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "4875667208c4bb4f",
        "type": "ui_template",
        "z": "f76015fff1ab449b",
        "group": "814f49e501875186",
        "name": "LED left",
        "order": 1,
        "width": 6,
        "height": 6,
        "format": "\n\n<body>\n    <div class=\"circle-container\">\n        <div class=\"circle\" id=\"myCircleLeft\"></div>\n    </div>\n</body>\n\n<script>\n    (function(scope) {\n\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n        // Do something when msg arrives\n        const circle = document.getElementById('myCircleLeft')\n        switch(msg.payload) {\n            case true:\n                circle.style.backgroundColor = \"green\";\n            break;\n            case false:\n                circle.style.backgroundColor = \"red\";\n            break;\n            default:\n                circle.style.backgroundColor = \"white\";\n        }\n\n    }\n    \n    });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "b702da8cc8f48e1e",
        "type": "ui_template",
        "z": "f76015fff1ab449b",
        "group": "f5e2c3bf3d5a99b2",
        "name": "Led Style",
        "order": 30,
        "width": 10,
        "height": 1,
        "format": "<style>\n    .circle-container {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        height: 100%;\n    }\n\n    .circle {\n        width: 150px;\n        /* Set the desired circle diameter */\n        height: 150px;\n        /* Maintain the same value to make it a perfect circle */\n        background-color: white;\n        /* Circle color */\n        border-radius: 50%;\n        /* Makes it a circle */\n    }\n</style>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1380,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "be182b18cf0c6c12",
        "type": "postgresql",
        "z": "f76015fff1ab449b",
        "name": "",
        "query": "SELECT *\n\tFROM public.config\n\tWHERE id={{{msg.payload}}};",
        "postgreSQLConfig": "c4cffb880254a966",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 710,
        "y": 1120,
        "wires": [
            [
                "97449b59b1ded6be"
            ]
        ]
    },
    {
        "id": "9554e9098db9e6f7",
        "type": "inject",
        "z": "f76015fff1ab449b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "deb6e4621765778e"
            ]
        ]
    },
    {
        "id": "deb6e4621765778e",
        "type": "change",
        "z": "f76015fff1ab449b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "currentElementId",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1120,
        "wires": [
            [
                "be182b18cf0c6c12"
            ]
        ]
    },
    {
        "id": "d6bbe69e060b5047",
        "type": "ui_template",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "group": "814f49e501875186",
        "name": "Gauge3 Overrides",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\nmd-card.nr-dashboard-template.gauge3 .g-body {\n    border-radius: 50%;\n}\n\nmd-card.nr-dashboard-template.gauge3 .g-body::before {    \n    border-radius:50%;\n}\nmd-card.nr-dashboard-template.gauge3 .g-rivets {\n    display:none;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 710,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "5f538462ac099755",
        "type": "ui_template",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "group": "814f49e501875186",
        "name": "gauge3",
        "order": 2,
        "width": 6,
        "height": 6,
        "format": "\n<div id=\"{{'gauge_'+$id}}\" class=\"g-container\" style=\"--gauge-value:0; --container-size:6; --gn-distance:14; --ga-tick-count:10; --ga-subtick-count:100; --g-unit:'mm'\">\n    <div id=\"bgr\" class=\"g-body\">\n        <div class=\"g-ring\">\n            <div class=\"g-rivets\">\n                <div class=g-rivet></div>\n                <div class=g-rivet></div>\n                <div class=g-rivet></div>\n                <div class=g-rivet></div>\n            </div>\n            <div class=\"g-plate\">\n                <div class=\"g-ticks\">\n                    <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n                </div>\n                <div class=\"g-ticks\">\n                    <div class=\"g-subtick\" style=\"--ga-tick:2;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:3;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:4;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:5;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:6;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:7;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:8;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:9;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:10;\"></div>\n                    \n                    <div class=\"g-subtick\" style=\"--ga-tick:12;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:13;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:14;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:15;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:16;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:17;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:18;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:19;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:20;\"></div>\n                    \n                    <div class=\"g-subtick\" style=\"--ga-tick:22;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:23;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:24;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:25;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:26;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:27;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:28;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:29;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:30;\"></div>\n                    \n                    <div class=\"g-subtick\" style=\"--ga-tick:32;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:33;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:34;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:35;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:36;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:37;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:38;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:39;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:40;\"></div>\n                    \n                    <div class=\"g-subtick\" style=\"--ga-tick:42;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:43;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:44;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:45;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:46;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:47;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:48;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:49;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:50;\"></div>\n                    \n                    <div class=\"g-subtick\" style=\"--ga-tick:52;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:53;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:54;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:55;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:56;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:57;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:58;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:59;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:60;\"></div>\n                    \n                    <div class=\"g-subtick\" style=\"--ga-tick:62;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:63;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:64;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:65;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:66;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:67;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:68;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:69;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:70;\"></div>\n                    \n                    <div class=\"g-subtick\" style=\"--ga-tick:72;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:73;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:74;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:75;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:76;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:77;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:78;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:79;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:80;\"></div>\n                    \n                    <div class=\"g-subtick\" style=\"--ga-tick:82;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:83;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:84;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:85;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:86;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:87;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:88;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:89;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:90;\"></div>\n                    \n                    <div class=\"g-subtick\" style=\"--ga-tick:92;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:93;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:94;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:95;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:96;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:97;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:98;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:99;\"></div>\n                    <div class=\"g-subtick\" style=\"--ga-tick:100;\"></div>\n                </div>\n               <div class=\"g-nums\">\n                    <div class=\"g-num\" style=\"--ga-tick:1;\" >-0.5</div>\n                    <div class=\"g-num\" style=\"--ga-tick:2;\">-0.4</div>\n                    <div class=\"g-num\" style=\"--ga-tick:3;\">-0.3</div>\n                    <div class=\"g-num\" style=\"--ga-tick:4;\">-0.2</div>\n                    <div class=\"g-num\" style=\"--ga-tick:5;\">-0.1</div>\n                    <div class=\"g-num\" style=\"--ga-tick:6;\">0</div>\n                    <div class=\"g-num\" style=\"--ga-tick:7;\">0.1</div>\n                    <div class=\"g-num\" style=\"--ga-tick:8;\">0.2</div>\n                    <div class=\"g-num\" style=\"--ga-tick:9;\">0.3</div>\n                    <div class=\"g-num\" style=\"--ga-tick:10;\">0.4</div>\n                    <div class=\"g-num\" style=\"--ga-tick:11;\">0.5</div>\n                </div>\n                <div class=\"g-label\">Distance</div>\n                <div class=\"g-needle\"></div>\n                <div class=\"g-needle-ring\"></div>\n                <div id=\"{{'gauge_val_'+$id}}\" class=\"g-val\"></div>\n            </div>\n        </div>\n    </div>\n</div>\n<script>\n(function(scope) {\n    let min = -0.05;\n    let max = 0.05;\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n    // Do something when msg arrives\n    const val = msg.payload\n    const v = ((val - min) / (max - min)) * 10;\n    element = document.getElementById('gauge_val_'+scope.$id)\n    document.getElementById('gauge_'+scope.$id).style.setProperty('--gauge-value', v);\n    if (val < 0) {\n        element.classList.add('negative'); // Add a class to handle negative numbers \n    } else {\n        element.classList.remove('negative'); \n    }\n\n    element.innerText = Math.abs(val.toFixed(4));\n    }\n   \n  });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "gauge3",
        "x": 540,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "bfa4ef96.0901f",
        "type": "ui_template",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "group": "f5e2c3bf3d5a99b2",
        "name": "gauge-style-advanced",
        "order": 30,
        "width": 10,
        "height": 1,
        "format": "<!--<link rel=\"stylesheet\" href=\"/css/hotnipi-gauge.css\">-->\n<style>\n:root {\n    --needle-color: #001100;\n    --needle-color-secondary: #ffdd30;\n    --target-needle-color: #ffa500;\n    --red-ticks: 9;\n    --zone-color-high: #ff5d4ebf;\n    --zone-color-warn: #ffb52d8c;\n    --zone-color-normal: #91ff4e85;\n    --zone-color-low: #4ec3ff85\n}\n.g-zone {\n    position: absolute;\n    width: 82%;\n    height: 82%;\n    top: 8%;\n    left: 10%;\n    box-sizing: border-box;\n    border-radius: 0 100% 0 0;\n    border-color: var(--zone-color-normal);\n    border-top: 7px solid;\n    border-right: 7px solid;\n    clip-path: polygon(0% 0%, 100% 0%, 0% 0%, 0% 100% );\n}\n.g-zone.high {\n    border-color: var(--zone-color-high);\n    clip-path: polygon(0% 0%, 100% 0%, 16% 0%, 0% 100% );\n}\n.g-zone.warn {\n    border-color: var(--zone-color-warn);\n    clip-path: polygon(16% 0%, 100% 0%, 73% 0%, 0% 100% );\n}\n.g-zone.normal {\n    border-color: var(--zone-color-normal);\n    clip-path: polygon(0% 50%, 100% 0%, 100% 67%, 0% 100% );\n}\n.g-zone.low {\n    border-color: var(--zone-color-low);\n    clip-path: polygon(100% 68%, 100% 0%, 100% 100%, 0% 100% );\n}\n\n.g-wrapper-label-0 {\n    grid-template-rows: 1fr;\n}\n\n.g-wrapper-label-3 {\n    grid-template-rows: 1fr 3fr;\n}\n\n.g-wrapper-label-4 {\n    grid-template-rows: 1fr 4fr;\n}\n\n.g-wrapper {\n    display: grid;\n    width: 100%;\n    height: 100%;\n    align-content: center;\n    align-items: center;\n    justify-items: center;\n}\n\n.g-header {\n    display: flex;\n    text-align: center;\n}\n\n.g-wrapper-label-0 .g-container {\n    height: calc(100% - 6px);\n}\n\n.g-container {\n    position: relative;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    user-select: none;\n    width: 100%;\n    height: calc(100% - 10.5px);\n}\n\n.g-body {\n    position: relative;\n    display: flex;\n    align-content: center;\n    align-items: center;\n    justify-content: center;\n    height: 98%;\n    width: 98%;\n    border-radius: 15%;\n    box-shadow: 0px 5px 8px #00000045;\n    background: linear-gradient(0deg, rgba(78, 78, 78, 1) 0%, rgba(215, 215, 215, 1) 99%, rgba(236, 236, 236, 1) 100%);\n}\n\n.g-body::before {\n    content: \"\";\n    position: absolute;\n    top: 0px;\n    right: 0px;\n    bottom: 0px;\n    left: 0px;\n    opacity: 0.1;\n    border-radius: 15%;\n    background-image: url(\"data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==\");\n    background-repeat: repeat;\n}\n\n.g-ring {\n    position: relative;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    align-content: center;\n    width: 94%;\n    height: 94%;\n    border-radius: 50%;\n    background: linear-gradient(180deg, rgba(78, 78, 78, 1) 0%, rgba(215, 215, 215, 1) 99%, rgba(236, 236, 236, 1) 100%);\n}\n\n.quarter-top-right>.g-ring {\n    width: 90%;\n    height: 90%;\n    border-radius: 15% 85% 15% 15%;\n}\n.quarter-top-left>.g-ring {\n    width: 90%;\n    height: 90%;\n    border-radius: 85% 15% 15% 15%;\n}\n\n.g-plate {\n    position: relative;\n    overflow: hidden;\n    width: 93%;\n    height: 93%;\n    border-radius: 50%;\n    box-shadow: inset 0 0 15px #000000a3;\n    background: radial-gradient(circle, rgb(196 205 209) 0%, rgb(177 183 186) 40%, rgb(191 193 194) 100%);\n}\n\n.quarter-top-right *>.g-plate {\n    width: 95%;\n    height: 95%;\n    border-radius: 15% 100% 15% 15%;\n    background: radial-gradient(farthest-corner at 24% 70%, rgb(207 209 211) 0%, rgb(177 183 186) 50%, rgb(191 193 194) 129%);\n}\n.quarter-top-left *>.g-plate {\n    width: 95%;\n    height: 95%;\n    border-radius: 100% 15% 15% 15%;\n    background: radial-gradient(farthest-corner at 24% 70%, rgb(207 209 211) 0%, rgb(177 183 186) 50%, rgb(191 193 194) 129%);\n}\n\n.g-sector-high {\n    position: absolute;\n    width: 100%;\n    height: 100%;\n    top: 50%;\n    left: 50%;\n    background: #ff00004f;\n    transform-origin: 0 0;\n    transform: rotate(328deg) skew(12deg, 23deg);\n}\n\n.g-ticks {\n    position: absolute;\n    top: 0;\n    left: 0;\n    width: 100%;\n    height: 100%;\n    filter: drop-shadow(2px 4px 6px black);\n}\n\n.quarter-top-right *>.g-ticks {\n    top: -10%;\n    left: 10%;\n}\n.quarter-top-left *>.g-ticks {\n    top: -10%;\n    left: -10%;\n    transform: rotate(270deg);\n}\n\n\n.g-tick {\n    position: relative;\n    left: 0;\n    top: 50%;\n    width: 100%;\n    height: 1px;\n    margin-bottom: -1px;\n    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 2%, rgb(0 0 0 / 60%) 2%, rgb(0 0 0 / 60%) 10%, rgba(0, 0, 0, 0) 10%);\n    transform: rotate(calc(calc(270deg / var(--ga-tick-count)) * var(--ga-tick) - calc(calc(270deg / var(--ga-tick-count)) + 45deg)));\n}\n\n.quarter-top-right *>.g-tick {\n    width: 86%;\n    position: absolute;\n    left: 0;\n    top: 100%;\n    background: linear-gradient(270deg,rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 60%) 9%, rgba(0, 0, 0, 0) 9%);\n    transform: rotate(calc(calc(90deg / var(--ga-tick-count)) * var(--ga-tick) - calc(calc(90deg / var(--ga-tick-count)) - 270deg)));\n    transform-origin: 0% 0%;\n}\n.quarter-top-left *>.g-tick {\n    width: 86%;\n    position: absolute;\n    left: 0;\n    top: 100%;\n    background: linear-gradient(270deg,rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 60%) 9%, rgba(0, 0, 0, 0) 9%);\n    transform: rotate(calc(calc(90deg / var(--ga-tick-count)) * var(--ga-tick) - calc(calc(90deg / var(--ga-tick-count)) - 270deg)));\n    transform-origin: -0.5% 0%;\n}\n\n.g-tick.clock {\n    transform: rotate(calc(calc(360deg / var(--ga-tick-count)) * var(--ga-tick) - calc(calc(360deg / var(--ga-tick-count)) +270deg)));\n}\n\n.g-subtick {\n    position: relative;\n    left: 0;\n    top: 50%;\n    width: 100%;\n    height: 1px;\n    margin-bottom: -1px;\n    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 2%, rgb(0 0 0 / 40%) 2%, rgb(0 0 0 / 40%) 6%, rgba(0, 0, 0, 0) 6%);\n    transform: rotate(calc(calc(270deg / var(--ga-subtick-count)) * var(--ga-tick) - calc(calc(270deg / var(--ga-subtick-count)) + 45deg)));\n}\n\n.quarter-top-right *>.g-subtick {\n    width: 86%;\n    position: absolute;\n    left: 0;\n    top: 100%;\n    background: linear-gradient(270deg,rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 60%) 5%, rgba(0, 0, 0, 0) 5%);\n    transform: rotate(calc(calc(90deg / var(--ga-subtick-count)) * var(--ga-tick) - calc(calc(90deg / var(--ga-subtick-count)) - 270deg)));\n    transform-origin: 0% 0%;\n}\n.quarter-top-left *>.g-subtick {\n    width: 86%;\n    position: absolute;\n    left: 0;\n    top: 100%;\n    background: linear-gradient(270deg,rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 60%) 5%, rgba(0, 0, 0, 0) 5%);\n    transform: rotate(calc(calc(90deg / var(--ga-subtick-count)) * var(--ga-tick) - calc(calc(90deg / var(--ga-subtick-count)) - 270deg)));\n    transform-origin: -0.5% 0%;\n}\n\n.g-subtick.clock {\n    transform: rotate(calc(calc(360deg / var(--ga-subtick-count)) * var(--ga-tick) - calc(calc(360deg / var(--ga-subtick-count)) + 270deg)));\n}\n\n.g-num {\n    position: absolute;\n    top: 50%;\n    left: 50%;\n    text-align: center;\n    transform: translate(-50%, -50%) rotate(calc(calc(270deg / var(--ga-tick-count)) * var(--ga-tick) - calc(calc(270deg / var(--ga-tick-count)) + 45deg))) translate(calc(-1px * var(--container-size) * var(--gn-distance))) rotate(calc(calc(270deg / var(--ga-tick-count)) * var(--ga-tick) *-1 - calc(calc(270deg / var(--ga-tick-count))*-1 - 45deg)));\n}\n\n.quarter-top-right *>.g-num {\n    transform: translate(-50%, -50%) rotate(calc(calc(90deg / var(--ga-tick-count)) * var(--ga-tick) - calc(calc(90deg / var(--ga-tick-count)) - 90deg))) translate(calc(-1px * var(--container-size) * var(--gn-distance))) rotate(calc(calc(90deg / var(--ga-tick-count)) * var(--ga-tick) *-1 - calc(calc(90deg / var(--ga-tick-count))*-1 - 270deg)));\n}\n.quarter-top-left *>.g-num {\n    transform: translate(-50%, -50%) rotate(calc(calc(90deg / var(--ga-tick-count)) * var(--ga-tick) - calc(calc(90deg / var(--ga-tick-count)) - 90deg))) translate(calc(-1px * var(--container-size) * var(--gn-distance))) rotate(calc(calc(90deg / var(--ga-tick-count)) * var(--ga-tick) *-1 - calc(calc(90deg / var(--ga-tick-count))*-1 - 360deg)));\n}\n\n.g-num.clock {\n    transform: translate(-50%, -50%) rotate(calc(calc(360deg / var(--ga-tick-count)) * var(--ga-tick) - calc(calc(360deg / var(--ga-tick-count)) + 270deg))) translate(calc(-1px * var(--container-size) * var(--gn-distance))) rotate(calc(calc(360deg / var(--ga-tick-count)) * var(--ga-tick) *-1 - calc(calc(360deg / var(--ga-tick-count))*-1 - 270deg)));\n}\n\n.g-nums {\n    position: absolute;\n    top: 0;\n    width: 100%;\n    height: 100%;\n    color: #000000a1;\n    font-size: calc(var(--container-size) * 20%);\n    font-weight: 500;\n    filter: drop-shadow(2px 4px 10px black);\n}\n\n.quarter-top-right *>.g-nums {\n    top: 40%;\n    left: -40%;\n}\n\n.quarter-top-left *>.g-nums {\n    top: 40%;\n    left: 40%;\n    transform: rotate(270deg);\n}\n.g-needle {\n    position: absolute;\n    left: 0;\n    top: 49%; \n    width: 100%;\n    height: 1%;\n    filter: drop-shadow(0px 1px 3px #00000080);\n    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0, rgba(0, 0, 0, 0) 15%, var(--needle-color) 15%, var(--needle-color) 50%, rgba(0, 0, 0, 0) 50%);\n    transform: rotate(calc(270deg * calc(var(--gauge-value, 0deg) / 10) - 45deg));\n    transition: transform 20ms;\n}\n\n.g-needle-secondary {\n    position: absolute;\n    left: 0;\n    top: 49%;\n    width: 100%;\n    height: 2%;\n    filter: drop-shadow(0px 1px 3px #00000080);\n    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0, rgba(0, 0, 0, 0) 15%, var(--needle-color-secondary) 15%, var(--needle-color-secondary) 50%, rgba(0, 0, 0, 0) 50%);\n    transform: rotate(calc(270deg * calc(var(--gauge-value-secondary, 0deg) / 100) - 45deg));\n    transition: transform 1s;    \n}\n\n.g-target-needle {\n    position: absolute;\n    left: 0;\n    top: 49%;\n    width: 100%;\n    height: 1.5%;\n    transform: rotate(calc(270deg * calc(var(--gauge-target, 0deg) / 100) - 45deg));\n    transition: transform 1s;\n}\n\n.g-target-needle:before {\n    content: \"►\";\n    position: absolute;\n    left: -1%;\n    top: calc(var(--container-size) * 1%);\n    line-height: 0;\n    font-size: calc(var(--container-size) * 35%);\n    color: #ffdc2d;\n    text-shadow: 0 0 3px black;\n}\n\n.quarter-top-right *>.g-needle {\n    position: absolute;\n    width: 74%;\n    height: 2%;\n    top: 89.5%;\n    left: 10%;\n    background: var(--needle-color);\n    transform: rotate(calc(90deg * calc(var(--gauge-value, 0deg) / 100) - 90deg));\n    transform-origin: 0% 50%;\n}\n\n.quarter-top-left *>.g-needle {\n    position: absolute;\n    width: 74%;\n    height: 2%;\n    top: 89.5%;\n    left: 90%;\n    background: var(--needle-color);\n    transform: rotate(calc(90deg * calc(var(--gauge-value, 0deg) / 100) - 270deg));\n    transform-origin: 0% 50%;\n}\n\n.g-needle.hour {\n    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0, rgba(0, 0, 0, 0) 20%, var(--needle-color) 20%, var(--needle-color) 50%, rgba(0, 0, 0, 0) 50%);\n    transition: unset;\n    transform: rotate(var(--time-hour));\n}\n\n.g-needle.minute {\n    top: 49.25%;\n    height: 1.5%;\n    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0, rgba(0, 0, 0, 0) 15%, var(--needle-color) 15%, var(--needle-color) 50%, rgba(0, 0, 0, 0) 50%);\n    transition: unset;\n    transform: rotate(var(--time-minute));\n}\n\n.g-needle.second {\n    top: 49.5%;\n    height: 0.5%;\n    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0, rgba(0, 0, 0, 0) 10%, var(--needle-color) 10%, var(--needle-color) 50%, rgba(0, 0, 0, 0) 50%);\n    transform: rotate(var(--time-second));\n    transition: unset;\n}\n\n.g-needle-ring {\n    position: absolute;\n    width: calc(var(--container-size) * 1.5%);\n    height: calc(var(--container-size) * 1.5%);\n    top: 50%;\n    left: 50%;\n    border-radius: 50%;\n    box-shadow: 0 1px 4px #0000009c;\n    background: var(--needle-color);\n    transform: translate(-50%, -50%);\n}\n\n.quarter-top-right *>.g-needle-ring {\n    top: 90%;\n    left: 10%;\n}\n.quarter-top-left *>.g-needle-ring {\n    top: 90%;\n    left: 90%;\n}\n\n.g-val {\n    position: absolute;\n    text-align: center;\n    left: 50%;\n    bottom: 8%;\n    width: 80px;\n    font-family: monospace;\n    font-size: calc(var(--container-size) * 27%);\n    color: #000000a1;\n    filter: drop-shadow(2px 3px 2px #00000050);\n    transform: translateX(-50%);\n}\n\n/* Add a pseudo-element for the negative sign */\n.g-val:before {\n    content: \"\";\n    position: absolute;\n    left: -1; /* Position the negative sign on the left side */\n}\n/* Style for negative numbers */\n.g-val.negative:before {\n    content: \"-\";\n    right: 100%; /* Position the negative sign to the left of the number */\n    margin-right: 0px; /* Add some space between the negative sign and the number */\n}\n\n.quarter-top-right *>.g-val {\n    width: 100%;\n    bottom: calc(calc(var(--container-size) * 8%) / calc(var(--container-size)/4));\n    font-size: calc(var(--container-size) * 25%);\n}\n.quarter-top-left *>.g-val {\n    width: 100%;\n    bottom: calc(calc(var(--container-size) * 8%) / calc(var(--container-size)/4));\n    font-size: calc(var(--container-size) * 25%);\n}\n.g-val-ring {\n    position: absolute;\n    right: 0%;\n    top: 0%;\n    width: calc(calc(var(--container-size) * 7%) / calc(var(--container-size)/4));\n    height: calc(calc(var(--container-size) * 6%) / calc(var(--container-size)/4));\n    border-radius: 50%;\n    background: linear-gradient(180deg, rgba(78, 78, 78, 1) 0%, rgba(215, 215, 215, 1) 99%, rgba(236, 236, 236, 1) 100%);\n}\n\n.quarter-top-right *> .g-val-ring {\n    right: 0%;\n}\n.quarter-top-left *> .g-val-ring {\n    left:0%;\n}\n.g-val-plate {\n    position: absolute;\n    right: 0%;\n    top: 0%;\n    width: 90%;\n    height: 90%;\n    border-radius: 50%;\n    background: #e4e9ee;\n    box-shadow: inset 0 0 15px #000000a3;\n    transform: translate(-5%, 5%);\n}\n\n.g-label {\n    position: absolute;\n    left: 50%;\n    top: 58%;\n    width: 100%;\n    font-family: monospace;\n    font-size: calc(var(--container-size) * 18%);\n    text-align: center;\n    color: #000000a1;\n    filter: drop-shadow(2px 3px 2px #00000080);\n    transform: translateX(-50%);\n}\n\n.quarter-top-right *>.g-label {\n    left: 35%;\n    top: 60%;\n    width: 70%;\n}\n\n.quarter-top-left *>.g-label {\n    left: 65%;\n    top: 60%;\n    width: 70%;\n}\n\n.g-label::after {\n    position: absolute;\n    content: var(--g-unit);\n    left: 0;\n    top: 100%;\n    width: 100%;\n    height: 100%;\n    font-size: clamp(1em, calc(var(--container-size) * 40%), 1.5em);\n}\n\n.g-rivets {\n    position: absolute;\n    left: 0;\n    top: 0;\n    width: 100%;\n    height: 100%;\n}\n\n.g-rivet {\n    position: absolute;\n    width: calc(var(--container-size) * 2px);\n    height: calc(var(--container-size) * 2px);\n    border: 1px solid rgba(255, 255, 255, 0.1);\n    border-radius: 50px;\n    box-shadow: 0px 2px 4px #000, -1px -1px 5px rgba(0, 0, 0, 0.2);\n    background: linear-gradient(135deg, #adadad 0%, #d3d3d3 51%, #d1d1d1 68%, #8c8c8c 100%);\n}\n\n.g-rivet:nth-child(1) {\n    top: calc(var(--container-size) * 1.5px);\n    left: calc(var(--container-size) * 1.5px);\n}\n\n.g-rivet:nth-child(2) {\n    top: calc(var(--container-size) * 1.5px);\n    right: calc(var(--container-size) * 1.5px);\n}\n\n.g-rivet:nth-child(3) {\n    bottom: calc(var(--container-size) * 1.5px);\n    left: calc(var(--container-size) * 1.5px);\n}\n\n.g-rivet:nth-child(4) {\n    bottom: calc(var(--container-size) * 1.5px);\n    right: calc(var(--container-size) * 1.5px);\n}\n\n.g-rivet::before {\n    content: '';\n    position: absolute;\n    left: 50%;\n    top: 50%;\n    width: calc(var(--container-size) * 10%);\n    height: calc(var(--container-size) * 10%);\n    border-radius: 50%;\n    border-bottom: 1px solid rgba(255, 255, 255, 0.3);\n    box-shadow: inset 0px 1px 2px #222;\n    transform: translate(-50%, -50%);\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 920,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ab0ab7c7db7e4c46",
        "type": "ui_valuetrail",
        "z": "f76015fff1ab449b",
        "g": "8e9639dd6a52feb3",
        "group": "814f49e501875186",
        "order": 7,
        "width": "6",
        "height": 1,
        "name": "",
        "label": "",
        "unit": "",
        "blur": false,
        "minmax": false,
        "allowtoggle": true,
        "showvalue": false,
        "decimals": 0,
        "colorLine": "#ff9900",
        "colorFromTheme": true,
        "stroke": 2,
        "property": "payload",
        "pointcount": 8,
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "97449b59b1ded6be",
        "type": "function",
        "z": "f76015fff1ab449b",
        "name": "function 1",
        "func": "\nlet measureResult = msg.max\nlet tolerance = msg.payload[0].abmass\n\nif (measureResult < tolerance)\n    {\n        msg.payload = true\n    }\nelse\n{\n    msg.payload = false\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1120,
        "wires": [
            [
                "da82ce4793672c6d",
                "4875667208c4bb4f"
            ]
        ]
    },
    {
        "id": "0e48aac0cc361391",
        "type": "link out",
        "z": "f76015fff1ab449b",
        "g": "3db353d6ca535ffc",
        "name": "Start Measurement Button",
        "mode": "link",
        "links": [
            "f7e679cb56cdfa0c"
        ],
        "x": 455,
        "y": 400,
        "wires": []
    },
    {
        "id": "f7e679cb56cdfa0c",
        "type": "link in",
        "z": "f76015fff1ab449b",
        "name": "LED Input",
        "links": [
            "0e48aac0cc361391"
        ],
        "x": 975,
        "y": 1080,
        "wires": [
            [
                "da82ce4793672c6d",
                "4875667208c4bb4f"
            ]
        ]
    },
    {
        "id": "537d75ec8fa856d8",
        "type": "inject",
        "z": "055a1f062782b51d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Messdemonstrator",
        "payloadType": "str",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "55c760ee9ad24743"
            ]
        ]
    },
    {
        "id": "55c760ee9ad24743",
        "type": "change",
        "z": "055a1f062782b51d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "218205f3b12cea36",
        "type": "ui_button",
        "z": "9516ce2929752e9f",
        "name": "BTest1",
        "group": "41e0c9f618b71610",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "5255c1d1dac9e21d"
            ]
        ]
    },
    {
        "id": "8c05f1b5b1443e7f",
        "type": "ui_button",
        "z": "9516ce2929752e9f",
        "name": "BTest2",
        "group": "7bf9d4f551c45f5e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "5255c1d1dac9e21d"
            ]
        ]
    },
    {
        "id": "96dc587e6fcee1a5",
        "type": "ui_button",
        "z": "9516ce2929752e9f",
        "name": "BTest3",
        "group": "f3868417c904d138",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "5255c1d1dac9e21d"
            ]
        ]
    },
    {
        "id": "9cfc7ccd9e3269ca",
        "type": "ui_ui_control",
        "z": "9516ce2929752e9f",
        "name": "",
        "events": "all",
        "x": 980,
        "y": 820,
        "wires": [
            [
                "a782218989a32720",
                "570bfb13c4ce2077"
            ]
        ]
    },
    {
        "id": "28601beb04968f35",
        "type": "inject",
        "z": "9516ce2929752e9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tab\":\"1\"}",
        "payloadType": "json",
        "x": 280,
        "y": 800,
        "wires": [
            [
                "9cfc7ccd9e3269ca"
            ]
        ]
    },
    {
        "id": "6284b06a7751d047",
        "type": "inject",
        "z": "9516ce2929752e9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tab\":\"2\"}",
        "payloadType": "json",
        "x": 280,
        "y": 860,
        "wires": [
            [
                "9cfc7ccd9e3269ca"
            ]
        ]
    },
    {
        "id": "479ae8e5d1f864ae",
        "type": "inject",
        "z": "9516ce2929752e9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tab\":\"2\"}",
        "payloadType": "json",
        "x": 280,
        "y": 920,
        "wires": [
            [
                "9cfc7ccd9e3269ca"
            ]
        ]
    },
    {
        "id": "5255c1d1dac9e21d",
        "type": "state-machine",
        "z": "9516ce2929752e9f",
        "name": "",
        "triggerProperty": "payload",
        "triggerPropertyType": "msg",
        "stateProperty": "payload",
        "statePropertyType": "msg",
        "initialDelay": "1",
        "persistOnReload": false,
        "outputStateChangeOnly": true,
        "throwException": false,
        "states": [
            "Einstellungen",
            "1",
            "2",
            "3"
        ],
        "transitions": [
            {
                "name": "Start",
                "from": "Einstellungen",
                "to": "1"
            },
            {
                "name": "1",
                "from": "1",
                "to": "2"
            },
            {
                "name": "2",
                "from": "2",
                "to": "3"
            },
            {
                "name": "3",
                "from": "3",
                "to": "Einstellungen"
            },
            {
                "name": "Einstellungen",
                "from": "3",
                "to": "Einstellungen"
            },
            {
                "name": "Einstellungen",
                "from": "2",
                "to": "Einstellungen"
            },
            {
                "name": "Einstellungen",
                "from": "1",
                "to": "Einstellungen"
            }
        ],
        "x": 740,
        "y": 380,
        "wires": [
            [
                "8220942b7a7673d6"
            ]
        ]
    },
    {
        "id": "340df01aa2b2e118",
        "type": "inject",
        "z": "9516ce2929752e9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Einstellungen",
        "payloadType": "str",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "5255c1d1dac9e21d",
                "9cfc7ccd9e3269ca"
            ]
        ]
    },
    {
        "id": "00e4ae4430f38401",
        "type": "inject",
        "z": "9516ce2929752e9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Start",
        "payloadType": "str",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "5255c1d1dac9e21d"
            ]
        ]
    },
    {
        "id": "f83410330722cd3d",
        "type": "ui_text",
        "z": "9516ce2929752e9f",
        "group": "41e0c9f618b71610",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 120,
        "wires": []
    },
    {
        "id": "b41d8bc9de1288b5",
        "type": "ui_text",
        "z": "9516ce2929752e9f",
        "group": "7bf9d4f551c45f5e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "3ac9b209dbda5e68",
        "type": "ui_text",
        "z": "9516ce2929752e9f",
        "group": "f3868417c904d138",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "7cfcc73117e72030",
        "type": "link in",
        "z": "9516ce2929752e9f",
        "name": "Set Heading Text",
        "links": [
            "8bd6cd95a84f33fe",
            "f6ae1f8861dc5712"
        ],
        "x": 765,
        "y": 180,
        "wires": [
            [
                "f83410330722cd3d",
                "b41d8bc9de1288b5",
                "3ac9b209dbda5e68"
            ]
        ]
    },
    {
        "id": "8220942b7a7673d6",
        "type": "change",
        "z": "9516ce2929752e9f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 480,
        "wires": [
            [
                "9cfc7ccd9e3269ca"
            ]
        ]
    },
    {
        "id": "a782218989a32720",
        "type": "switch",
        "z": "9516ce2929752e9f",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Einstellungen",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1190,
        "y": 820,
        "wires": [
            [
                "30058c91ae12a293",
                "92d88ef055bad02f",
                "37e5d96e7b765ac4"
            ]
        ]
    },
    {
        "id": "30058c91ae12a293",
        "type": "link out",
        "z": "9516ce2929752e9f",
        "name": "Einstellungen aktiviert",
        "mode": "link",
        "links": [
            "62e80ce16e82b5c3"
        ],
        "x": 1355,
        "y": 820,
        "wires": []
    },
    {
        "id": "570bfb13c4ce2077",
        "type": "debug",
        "z": "9516ce2929752e9f",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 740,
        "wires": []
    },
    {
        "id": "92d88ef055bad02f",
        "type": "debug",
        "z": "9516ce2929752e9f",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 720,
        "wires": []
    },
    {
        "id": "37e5d96e7b765ac4",
        "type": "change",
        "z": "9516ce2929752e9f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"id\":$globalContext('currentElementId'),\t    \"name\":$globalContext('ElementName')\t    }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1370,
        "y": 880,
        "wires": [
            [
                "c384e7a9f2baf0c6"
            ]
        ]
    },
    {
        "id": "c384e7a9f2baf0c6",
        "type": "link out",
        "z": "9516ce2929752e9f",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "e22ea1258be2f3fb"
        ],
        "x": 1555,
        "y": 900,
        "wires": []
    },
    {
        "id": "ca87717fe5fc9189",
        "type": "debug",
        "z": "9516ce2929752e9f",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "f2020522810ae319",
        "type": "ui_form",
        "z": "9516ce2929752e9f",
        "name": "",
        "label": "",
        "group": "49282664ba5106a3",
        "order": 10,
        "width": "12",
        "height": "2",
        "options": [
            {
                "label": "Losnummer",
                "value": "lot",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "lot": ""
        },
        "payload": "",
        "submit": "Messung starten",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 330,
        "y": 40,
        "wires": [
            [
                "6d87bb252c7f5bcb"
            ]
        ]
    },
    {
        "id": "6d87bb252c7f5bcb",
        "type": "change",
        "z": "9516ce2929752e9f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lot",
                "pt": "global",
                "to": "payload.lot",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 40,
        "wires": [
            [
                "ca87717fe5fc9189",
                "5255c1d1dac9e21d"
            ]
        ]
    }
]